
		<div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar"
			role="navigation">
			<div class="list-group">
				<a href="#" class="list-group-item" tabindex="">Dashboard</a>
				<a href="#" class="list-group-item" tabindex="">Buisiness directory</a>
				<a href="#" class="list-group-item active" tabindex="">List your property on CPx</a> 
				<a href="#" class="list-group-item" tabindex="">Manage projects</a>
				<a href="#" class="list-group-item" tabindex="">My listings</a> 
				<a href="#" class="list-group-item" tabindex="">Discussions</a> 
				<a href="#" class="list-group-item" tabindex="">Listing calender</a> 
				<a href="#" class="list-group-item" tabindex="">Settings</a>
			    <a href="#" class="list-group-item" tabindex="">Transactions</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 <a href="#" class="list-group-item" tabindex="">PropertyCompass</a>
			</div>
		</div>