		<div class="static-content publication-media">
			<div class="row">
				<div class="col-sm-6  col-xs-6 thumb">
	                   <!--  <img class="img-responsive" src="images/freshapproachcover.png" alt=""> -->
	                 <a class="thumbnail mask blogindex" href="#!/blog/press-releases/subid" title="Press releases">
	                    <img class="img-responsive" src="images/PressReleases.jpg" alt="PressReleases.jpg">
	                </a>
	                <!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/CPxBrochure2Feb2015.pdf" ></a></div> -->
	            </div>
	            
	            <div class="col-sm-6  col-xs-6 thumb">
	                   <!--  <img class="img-responsive" src="images/freshapproachcover.png" alt=""> -->
	                 <a class="thumbnail mask blogindex" href="#!/blog/Publications/subid" title="Publications">
	                    <img class="img-responsive" src="images/Publications.jpg" alt="Publications.jpg">
	                </a>
	                <!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/CPxBrochure2Feb2015.pdf" ></a></div> -->
	            </div>
			</div>
			<div class="row">
				<div class="col-sm-6  col-xs-6 thumb">
	                   <!--  <img class="img-responsive" src="images/freshapproachcover.png" alt=""> -->
	                 <a class="thumbnail mask blogindex" href="#!/blog/cpx-announcements/subid" title="CPx-announcements">
	                    <img class="img-responsive" src="images/CPxannouncements.jpg" alt="CPxannouncements.jpg">
	                </a>
	                <!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/CPxBrochure2Feb2015.pdf" ></a></div> -->
	            </div>
	            
	            <div class="col-sm-6  col-xs-6 thumb">
	                   <!--  <img class="img-responsive" src="images/freshapproachcover.png" alt=""> -->
	                 <a class="thumbnail mask blogindex" href="#!/blog/FAQs/subid" title="FAQs">
	                    <img class="img-responsive" src="images/FAQs.jpg" alt="FAQs.jpg">
	                </a>
	                <!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/CPxBrochure2Feb2015.pdf" ></a></div> -->
	            </div>
			</div>
		</div>