<header2></header2>
<div class="ServiceRequest">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row ServiceRequest_title text-center">
                <h3>Buy this property</h3>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="queaction">
                    <div class="alert alert-block fade in" style="background:#ffffcc;border-color: #ffffab;margin-top:40px;">
                        <!--<button type="button" class="close close-sm" data-dismiss="alert">
                            <i class="fa fa-times"></i>
                        </button>-->
                        <h4 class="text-center">
                            <span><strong>Please select your preferred method</strong></span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 startform">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row Traditionalmain text-center">
                            <div class="propertytitle">
                                <p>Buy this property via</p>
                                <h3><strong>Traditional</strong></h3>
                            </div>
                            <div class="propertyclick text-center">
                                <a href="javascript:void(0);" ng-click="gotomail('traditional');" style="color:#98ca5f;">Click here <span style="font-size: 10px;">&#x276F;</span> </a>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row Traditionalmain text-center">
                            <div class="propertytitle">
                                <p>Buy this property via</p>
                                <h3><strong>Self Managed Superannuation Fund</strong></h3>
                            </div>
                            <div class="propertyclick text-center">
                                <a href="javascript:void(0);" ng-click="gotomail('smsf');" style="color:#98ca5f;">Click here <span style="font-size: 10px;">&#x276F;</span> </a>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row Traditionalmain text-center">
                            <div class="propertytitle">
                                <p>Buy this property with</p>
                                <h3><strong>Vendor Finance</strong></h3>
                            </div>
                            <div class="propertyclick text-center">
                                <a href="javascript:void(0);" ng-click="gotomail('vendorfinance');" style="color:#98ca5f;">Click here <span style="font-size: 10px;">&#x276F;</span> </a>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row Traditionalmain text-center">
                            <div class="propertytitle propertyDomaCom">
                                <p>Buy this property via</p>
                                <h3><strong>Fractional ownership</strong></h3>
                                <img style="margin: 0 auto;" class="images img-responsive"  src="images/new_template/domacomlogo.png" />
                                <a href="#!/blog/press-releases/frac" target="_blank" class="DomaComlink" style="color:#98ca5f;">What is DomaCom?</a>
                            </div>
                            <div class="propertyclick text-center">
                                <a href="javascript:void(0);" ng-click="gotomail('domacom');" style="color:#98ca5f;">Click here <span style="font-size: 10px;">&#x276F;</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row Traditionalmain text-center">
                            <div class="propertytitle propertyDomaCom">
                                <p>First-home buyers can buy a property with </p>
                                <h3><strong>no-deposit</strong></h3>
                                <img style="margin: 0 auto;" class="images img-responsive"  src="images/new_template/AffordAssist-Logo.png" />
                                <a href="http://www.affordassist.com/" target="_blank" class="DomaComlink" style="color:#98ca5f;">What is AffordAssist?</a>
                            </div>
                            <div class="propertyclick text-center">
                                <a href="javascript:void(0);" ng-click="gotomail('affordassist');" style="color:#98ca5f;">Click here <span style="font-size: 10px;">&#x276F;</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>