


<div class="header-bar">
	<h2>CPx announcements</h2>
</div>

<p class="pagedate">7 Jan 2016</p>

<p class="presspageheader">Refined CPx Business Model Offers FREE LISTING</p>

<!--  <p class="subtitle"></p> -->

						<p>The CPx business model of presenting properties to buyers and industry professionals using an independent process 
						offers users many unique benefits.  Although there has been a lot of interest from many large financial service 
						businesses there remains a lingering commercial question of the practicality of national and international 
						uptake of the CPx business model. </p>
						
						<p>CPx has decided that continuing to deliver services using the initial business model may not create viable 
						commercial uptake due to the excessive investment of time and labour required to achieve the desired end result. 
						Further, the rapid changes currently happening within the Australian real estate industry indicate that such an 
						investment may not necessarily achieve timely commercial viability.  </p>
						
						<p>With this in mind, CPx has instigated a new commercial uptake approach. The coding of these changes to the 
						business platform have been recently completed by our software engineers and are now ready for marketing; 
						coincidentally on the anniversary of the official launch of CPx on 7 January 2015.</p>
						
						<p>The CPx business model now offers <b>FREE LISTINGS</b>.  Property owners and developers can &lsquo;test the water&rsquo; 
						before committing to paying a fee to have their properties independently reviewed and graded. Free Listing 
						provides an incentive to try the CPx business model and for property sellers to experience the unique benefits 
						CPx offers for advertising their properties. </p>
						
						<p>Sellers now spend nothing to list their properties with CPx until a buyer or industry professional chooses 
						to request an &lsquo;Independent Property Review (ipr) and Graded Report&rsquo; on their advertised property. This 
						request is then sent to the property seller notifying them of an expression of interest on their property. 
						This new approach offers a mutual win for both the seller and the buyer. </p>
						
						
<br>





