


<div class="header-bar">
	<h2>CPx announcements</h2>
</div>

<p class="pagedate">10 Sept 2015</p>

<p class="presspageheader">Advertising governance updated</p>

<!--  <p class="subtitle"></p> -->

						<p>Dear All,</p>
						
						<p>I recently went to hear a talk... actually more a discussion presented by international and Australian renowned architects.<br/>...one of the profound points I got from these exceptionally qualified (and successful) people was, something along the lines of <b>...&lsquo;do, view, re-do, view, re-do&rsquo;</b>.</p>
						
						<p>On that note; after much research/ market feedback we have modified our mandatory advertising governance.</p>
						
						<p>In summary <br/>
						We have removed from our process the &lsquo;no listing-agent selling-fees&rsquo;. This is now optional for sellers and agents to pass on &lsquo;Buyer Saving&rsquo;.</p>
						
						<p>Thank you,</p>
						<p>AA</p>
						
						<p>PS1: Thank you for all those that were part of this wonderful feedback. </p>
						<p>PS2: <a href="#!/blog/Publications/subid" style="text-decoration:underline;">Click here </a>to read updated governance version.</p>

<br>





