


<div class="header-bar">
	<h2>CPx announcements</h2>
</div>

<p class="pagedate">22 Jul 2015</p>

<p class="presspageheader">Loan View</p>

<!--  <p class="subtitle"></p> -->

<p style="color: #398424; font-size: 22px; text-align: center;">
	Loan view.<i>The smart new way to search property!</i>
</p>
<p>
	At <a href="http://centralpropertyexchange.com.au">http://centralpropertyexchange.com.au</a>
	[CPx], we are constantly working to develop the features and
	functionality of our industry leading Real Estate sales website. After
	extensive research and development, we can now introduce you to <b>Loan
		view</b>, an innovation of CPx and an industry breakthrough in the way you
	can search for property.
</p>
<p>
	How is <b>Loan view</b> different? <b>Loan view</b> is the only search
	facility available today that provides buyers (world-wide) and finance
	professionals with the options to search for Australian property based
	upon foreign currency and a range of contributors to affordability,
	such as:
</p>


<ul class="list">
	<li><b>Monthly repayments</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search
		by how much a budget allows</li>
	<li><b>Loan to value ratio (LVR)</b>&nbsp;&nbsp;&nbsp;&nbsp;Search
		by the loan percentage required</li>
	<li><b>Loan amount</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search
		by borrowing capacity</li>
	<li><b>Cash amount</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search
		by available deposit</li>
</ul>

<p>Why waste time scrolling through endless properties ranked by
	price and location when you can target properties that meet your exact
	lending criteria with Loan view? When choosing a CPx property and
	entering your specific financial scenario into the Loan view fields,
	you will be provided with an editable graph view of your loan repayment
	life cycle. This is a powerful tool, yet so easy to use.</p>

<p style="color: #398424; font-size: 20px;">Experience the Loan view
	difference.</p>


<p>
	To use <b>Loan view</b>, go to <a
		href="http://centralpropertyexchange.com.au" title="CPx">http://centralpropertyexchange.com.au</a>
</p>


<ol class="list">
	<li>Select <b>View Graded Properties</b> from the header menu;
	</li>
	<li>On the left, click <b>Loan view;</b></li>
	<li>Optional: Input your selections and click<b> UPDATE;</b></li>
	<li>Your Loan view summary can be found in the green box
		underneath suitable properties;</li>
	<li>Sort by:<b> Relevance</b> OR scroll and choose a property you
		are interested in;
	</li>
	<li>Here you will find the full <b>Loan view</b> graph where you
		can edit and add loan scenarios;
	</li>
	<li><b>Add </b>and compare properties in the <b> Shortlist;</b></li>
	<li>Click here for the<b> Loan view</b><a
		style="background: none; color: #337ab7;" href="#"> Glossary of
			Terms.</a></li>
</ol>

<p>
	Explore the difference of searching with a tool that is designed to
	find only properties suited to your financial needs. This is an amazing
	benefit to both buyers and sellers, as well as a new time saving method
	that will also benefit finance professionals, buyer&#8217;s agents,
	investors, accountants, immigration agents, financial planners and
	SMSFs, to name a few. Try <a href="#!/view-graded-properties">Loan
		view </a>today!
</p>


<p style="color: #398424; font-size: 20px;">Be the power behind the
	Interest rate.</p>

<p>The CPx Base Interest Only rate and Principle & Interest rate are
	competitive current market rates that are sponsored by a leading
	mortgage aggregator / financial institution.This could be you!</p>

<p>
	<a
		href="">Contact
		us</a> today to learn more about how to become an interest rate sponsor.
</p>


<br>





