       
      
       
       <div class="header-bar"><h2>CPx announcements</h2></div>
       
       <p class="pagedate">19 Jan 2015</p>
       
       <p class="presspageheader">New Service For Private Vendors And Developers</p>
       
       <p class="subtitle">Advertise Your Property For Sale On CPx</p>
       
       <p>
         					Ten years ago our company had the vision for an independent online real estate business model.  To get to where we are today, 
         					we created many Australian technological firsts within the real estate industry.  
         				</p>
         				<p>
         					We are proud to announce that our long held vision has now been refined and realised with the relaunch of CPx Beta from 19th January, 
         					and the official launch on Monday 2nd February 2015. 
         				</p>
         				
         				<p>
         					We take this opportunity to thank all those who took part in the previous CPx business model. Your involvement and feedback has been 
         					greatly appreciated and we hope that you will continue this connection by supporting the new CPx business model.
         				</p>
         				<p>
         				View our new website at http://www.centralpropertyexchange.com.au/
         				</p>
         				<p>
         				<div align="center"><b>No Real Estate Agent Fees</b></div>
						<div align="center"><b>Graded Properties</b></div>
						</p>
						
						<b>CPx is ideal for seller's</b>
						<ul>
							<li>Private vendors and commercial developers can list their properties at their price</li>
							<li>No fees payable to real estate agents, project marketer or referrers, saving you thousands in sales commission fees</li>
							<li>Mandatory property grading ensures a transparent business forum you can trust</li>
						</ul>  
						
						<b>CPx is ideal for buyer's</b>
						<ul>
							<li>All properties listed have no real estate agents sales and marketing fees </li>
							<li>An Independent Property Review (IPR) is mandatory for every property listed, ensuring a transparent business forum for both buyers and sellers</li>
							<li>Buyers can deal directly with the vendor or have the option to choose an independent representative</li>
						</ul>				
						
						<b>CPx is Ideal for professionals seeking an independent process</b>
						<ul>
							<li>Financial Planners, Mortgage Brokers and SMSF benefit from the independent process of CPx to maximise their clients wealth and avoid hefty agent fees</li>
							<li>Financial service providers can confidently add CPx listed properties to their services with the benefit of mandatory independent grading as a buying guide</li>
							<li>Real Estate Agents and other professionals benefit from the independent process of CPx to freelance as representatives</li>
						</ul>
						
						<b>Long term plans</b>
						<ul>
							<li>The CPx website is launched, but is still a work in progress that will continually improve its products and services </li>
							<li>CPx will launch a targeted digital media campaign in March/April 2015, to be followed by a targeted television advertising campaign in June 2015</li>
							<li>CPx has the technology to expand into other countries in due course</li>
						</ul>
						
						<b>In the mean time...</b>
						<ul>
							<li>We are busy listing Australian properties to be made available for buyers</li>
							<li>CPx has three feature spots available on our home page to advertise your property for a faster sale</li>
							<li>Explore our website and start to consider how CPx can benefit you or your clients </li>
							<li>CPx is an Australian first and offers a great service for buyers, sellers, advisors and independent agents</li>
						</ul>
						
						<b>List your property!</b><br/>
						Send details of your properties or your general expressions of interest to http://www.centralpropertyexchange.com.au/ 						<br/><br/>
							
       <br>
       <p class="blogborder"></p>
       
       <p class="subtitle2">Send via email | Email subject:</p>
       
       <p>Feel the freedom!  List your property with CPx and save thousands.</p>
      
       
     
       
  