       
      
       
       <div class="header-bar"><h2>FAQ's</h2></div>
       
       
       
       <p class="presspageheader">1. How does the CPx website traffic compare to major real estate advertising websites, which claim millions of hits / page views per month?</p>
       
       
       					<p>
         					Comparing hits or page views is secondary when the real question is, "what is the buyer's experience?" Please allow us to explain.  
         					A part of the reason why there are so many hits or page views on these sites is because the information is NOT independent or consistent. 
         					Buyers are forced to make numerous enquiries in their efforts to short list suitable properties.  
         					This traditional process can be frustrating for the seller and buyer.  
         					On CPx, the independent listing process mitigates unnecessary enquiries.
         				</p>
         				<p>
         					Another major point to consider, is that buyers come from trusted sources.  For example, when seeking the services of a professional, 
         					a buyer would generally seek guidance from their network.
         				</p>
         				<p>
         					Since the information on CPx is independent, buyer's agents (including the financial services industry) would be the key users of CPx 
         					and are in a better position to offer support in identifying suitable and unbiased information on properties for their clients.
         				</p>
         				<p>
         					The independent process (including the ipr and property grade) allows for finding suitable properties easily and quickly.
         				</p>
         				<p>
         					<b>Advertising revenue at stake:</b> having a large number of hits or page views does not equate to sales or, even, enquiries. For example, 
         					there are many advertising sites in Australia (some offering free listings), but these sites do not offer any advantage over the existing 
         					traditional and 'out-dated' advertising sites. The number of hits and page views are used by these major real estate sites BECAUSE it sounds 
         					impressive and helps to justify advertising fees. 
         				</p>
         				<p>
         					From a practical perspective, it only takes one committed buyer for a sale. There are roughly 500,000 properties sold every year in Australia. 
         					Therefore, one might argue having several millions of hits per month is an inefficient and ineffective process, 
         					ie: a lot of noise when compared to a little result.
         				</p>
         				<p>
         					<b>Bottom line:</b> it isn't the number of hits or page views that ultimately find a buyer, rather the total experience, 
         					which is why CPx's independent process is better for sellers, buyers and industry professionals!
         				</p>
       
       
       <br>
       <p class="blogborder"></p>
       
      
       
     
       
  