<div class="header-bar"><h2>FAQ's</h2></div>
       
       
       
       <p class="presspageheader">15. Loan Search Glossary of Terms</p>
       
       
       								<p><b>Loan search</b> is a financial search facility for property buyers, sellers and industry professionals.  Save time and instantly find affordable properties through the use of powerful search criteria options, such as: </p> 
						
						<ul class="list">
						  <li><b>Monthly repayments;</b> how much a budget allows</li>
						  <li><b>Loan to value ratio (LVR);</b> the loan percentage required</li>
						  <li><b>Loan amount;</b> borrowing capacity </li>
						  <li><b>Cash amount;</b> available deposit</li>
						</ul>
						
						<p>By using the <b>Add Loan Scenario</b> option, different loan types and amounts can be graphed and compared to easily demonstrate varying loan scenarios.</p>
						
						<p>The below Glossary of Terms is designed to assist with the use of <b>Loan search</b>.</p>
						
						  <table class="table table-bordered">
						    <thead>
						      	<div>
						      		<h2 style="border: 1px solid;border-bottom: none;margin-bottom: 0px;padding-bottom: 10px;text-align: center;border-color: #ddd;padding-top: 10px;">Glossary of Terms</h2>
						      	</div>
						      <tr>	
						        <th class="col-sm-3" style="padding-left:0px;"><b>Add loan scenario</b></th>
						        <th class="col-sm-9" style="font-weight:normal;padding-left:0px;">Provides options to create your own specific financial loan scenario.</th>				        
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						        <td><b>Base IO (%)</b></td>
						        <td><p>The default value Interest Only (IO) rate.  The CPx Base IO is a competitive current market Interest Only rate that is
						         sponsored by a leading mortgage aggregator / financial institution. This rate is used to calculate the IO monthly repayments
						          and is a set rate.  To compare other rates choose <b>Add loan scenario.</b> </p></td>		        
						      </tr>
						      <tr>
						        <td><b>Base PI (%)</b></td>
						        <td><p>The default value Principle & Interest (PI) rate.  The CPx Base PI is a competitive current market Principle & Interest rate
						         that is sponsored by a leading mortgage aggregator / financial institution. This rate is used to calculate the PI monthly repayments
						          and is a set rate.  To compare other rates choose <b>Add loan scenario.</b></p></td>			      
						      </tr>
						      <tr>
						        <td><b>Cash amount</b></td>
						        <td><p>The value amount of cash contributed toward a property purchase. This amount is deducted from the <b>Estimated total</b> to derive the <b>Loan amount.</b>
						          Entering a <b>Cash amount</b> will overrides/ replaces any values in the <b>Loan to value (LVR) field.</b></p></td>				       
						      </tr>
						      <tr>
						        <td><b>Cash amount - currency</b></td>
						        <td><p>Provides a choice of countries and their currencies to create an alternative economy loan scenario.  Selecting a currency converts all search / filters 
						        from Australian (AUD) amounts to display in the chosen currency at a current AUD exchange rate.</p>  </td>				       
						      </tr>	
						      <tr>
						        <td><b>Costs (%)</b></td>
						        <td><p>Property acquisition costs related to a purchase vary across Australia. Purchase costs may include; loan fees, government stamp duty, conveyance fees, 
						        depreciation report, and overseas buyer&#8217;s premium (taxes).  The CPx default cost value is set at 5%, but can be amended to suit a specific scenario.</p></td>				       
						      </tr>		
						      <tr>
						        <td><b>CPx price</b></td>
						        <td><p>The CPx price which is the property listed price less the saving of a selling-fee or agent&#8217;s fee, where applicable.</p></td>				       
						      </tr>
						      <tr>
						        <td><b>Estimated total</b></td>
						        <td><p>If a Saving is not-applicable; it is the property listed (or indicative) price plus Costs. <br/>If a Saving is applicable it is the CPx price plus Costs.</p></td>				       
						      </tr>	
						      <tr>
						        <td><b>Interest rate (%)</b></td>
						        <td><p></>A monetary percentage rate that is charged on the Loan amount to calculate monthly repayments.</p></td>				       
						      </tr>	
						      <tr>
						        <td><b>Loan amount</b></td>
						        <td><p>The Estimated total less Cash amount.</p> </td>				       
						      </tr>	
						      <tr>
						        <td><b>Loan term</b></td>
						        <td><p></>A set period of time relating to the repayment of a Loan amount. This period of time is typically up
						         to 30 years within Australia. </p> </td>				       
						      </tr>	
						      <tr>
						        <td><b>Loan type</b></td>
						        <td><p>CPx Loan Search offers a selection of two common loans types being Principle & Interest (PI) and Interest Only (OI) loans.</p>
						        	<p>PI:  Monthly repayments are calculated on the total repayment of the Loan amount within the nominated Loan term. </p>
							      	<p>OI:  Monthly repayments are calculated on payment of the interest only, therefore, the Loan amount will not reduce over the Loan term. </p>  
						        </td>				       
						      </tr>	
						      <tr>
						        <td><b>Loan to value (LVR)</b></td>
						        <td><p>LVR stands for a Loan to Value ratio and is a percentage figure relating to the value of a loan in relation to the asset purchased by the loan. 
						        Leading mortgage aggregators / financial institutions determine LVR&#8217;s on the property type / size or method of purchase, such as:</p>
							        <ul class="list">
									  <li>Typical property LVR&#8217;s are 80%</li>
									  <li>Studio units are approximately 60% LVR - studios are typically under 50 square metres</li>
									  <li>SMSF property purchases are approximately 70% LVR</li>
									</ul>
						        <p>Entering a Loan to value (LVR) figure will override / replace any values in the Cash amount field.</p>
						        </td>				       
						      </tr>	
						      <tr>
						        <td><b>Monthly repayments (IO)</b></td>
						        <td><p>Interest Only loan repayments that are payable by the month.</p></td>				       
						      </tr>	
						      <tr>
						        <td><b>Monthly repayments (PI)</b></td>
						        <td><p>Principle & Interest loan repayments that are payable by the month.</p></td>				       
						      </tr>				
						      <tr>
						        <td><b>Scenario name</b></td>
						        <td><p>A text field that provides the option of a personal identification name
						         to be added to a specific Loan Scenario for ease of reference.</p></td>				       
						      </tr>										      						      					      					      						      				      					      
						    </tbody>
						  </table>
       <br>
