<div class="header-bar"><h2>FAQ's</h2></div>
       
       
       
       <p class="presspageheader">13. Currency conversions</p>
       
      <p><b>User rules</b></p> 
						<ul style="list-style-type: none;">		
						<li>1. The Currency Conversions [CC] has been created by accessing information from trusted sources; <a href="http://jsonrates.com/" target="_blank" title="http://jsonrates.com/">http://jsonrates.com/</a> is a site operated by Jsonrates (JR). JR and CPx do not guarantee the accuracy of the information contained in the CC, and recommend that readers continue to make their own investigations. The information is a guide to you, and you should not rely solely on the contents of the CC when making any investment decisions.</li>						
						 <br>        				
         				<li>2. The information is the copyright of JR and should not be copied or reproduced without the written consent of JR. It is a breach for any person or corporation to use the information in the CC for commercial purpose including the sale of part or all the information contained in the CC. A breach of this user rule provides to JR and CPx or any of its suppliers a cause of action in copyright.</li>
						  <br>       				
         				<li>3. The user agrees to not hold liable either CPx or any of its third party suppliers for any loss, claim as a result of a decision of the user or any other person they give the CC to</li>
			</ul>			