<div class="header-bar"><h2>FAQ's</h2></div>
       
       
       
       <p class="presspageheader">11. DomaCom Fractional Property Investing</p>
       
       <p><b><i>1. Who are DomaCom and what do they do?</i></b></p> 
         				<p>DomaCom is a fractional (meaning: share or unit) property investing fund that allows investors to buy units in a property instead of buying the whole property.  This is similar to buying shares but these shares are in property, and are acquired through a regulated Managed Investment Scheme (MIS). DomaCom and its related services manage the properties on behalf of unit holders. DomaCom provides a secure ASIC regulated structure for investors to diversify their unit holdings across a range of properties, without owning the whole property, and therefore, broadening their potential profit and risk. </p>
         				
         				<p><b><i>2. How does buying investment property through DomaCom work?</i></b></p>
         				<p>Through a DomaCom accredited Financial Advisor, investors buy units in properties through a DomaCom public or private &#145book build&#146 (joint property investment).  There is a minimum investment of $20,000, however, this sum can then be spread across a number of properties or fully invested into one property.  How much you invest is up to you.  When over 30%-50% of units in a property are sold, DomaCom organises due diligence on the property.  When units sold reach the property sale price, DomaCom purchases the property and places this investment into a sub-fund, with each investor allocated units in the property relevant to their investment.</p>
         				
         				<p><b><i>3. Can I choose my own property to invest in?</i></b></p>
         				<p>Investors can select which property they would like to buy units in through an established public <b>book build</b>,or their advisor can create a new public or private book build.   If the property has a registered Title, you can buy it through DomaCom.  Properties may include farms, land, off the plan, student accommodation, warehouse units, commercial to aircraft hangers.  Current exclusions are overseas properties, however, will be included in DomaCom&#146s future expansion.</p>
         				<p>You can diversify your property investment across a range of properties or choose just one.  Your choices may be based upon location, style of property or price, or may be recommended by your advisor.  Book builds are created by fund advisors, however, will need the client base to ensure the property&#146s book build units all sell to enable purchase of the property.  You can also opt to join one of the public book builds if your advisor is unable to create a suitable book build that meets your needs.</p>	
   
						<p><b><i>4. How do I earn money from my investment?</i></b></p>
						<p>Once a property is purchased, a sub-fund is created for the property and investors are allocated units in the sub-fund based upon the value of their investment.  DomaCom proceeds to manage the property, with investors paying a share of ongoing expenses related to usual property ownership and management costs.  Investors receive a share of the property rent and the future capital value of the property with the security of the property title being held by the Custodian of the Fund on behalf of the unit holders.</p>
						
						
						<p><b><i>5. What if I want to sell some or all of my property units?</i></b></p>
						<p>Basically, you can sell your share in a property at any time through the DomaCom site.  DomaCom has three ways for you to do this.  </p>
						<ul style="list-style-type: none;">
						<li>a) At any time a unit holder can sell their share on DomaCom&#146s secondary market to other investors, with first option to purchase being given to other unit holders;</li><br>
						<li>b) At any time unit holders with a minimum 5% share in a property may choose, by deciding vote, to sell the property, with first option to purchase being given to other unit holders;</li><br>
						<li>c) After Five years the property reaches an expiry date where unit holders are given the option to vote to hold or sell the property.  It is at this point you can choose to exit your interest in the property with first option to purchase being given to other unit holders.</li><br>
						
						</ul>
						
						<p><b><i>6. Is fractional investing with DomaCom a safe investment?</i></b></p>
						<p>Investing is never 100% safe, however, buying units in a range of property/ies is a tangible asset that provides rental income and equity growth.  The benefit of buying units in DomaCom book build properties is the ability to develop a diversified property portfolio instead of investing all your money in one property.  DomaCom also provides a secondary market enabling the sale of units should an investor choose to sell some or all of their interest in a property.</p>
						
       