<div class="header-bar"><h2>FAQ's</h2></div>
       
       
       
       <p class="presspageheader">16. Why Grade a Property?</p>
       
       
       								<p>Because property buyers want independent information. </p> 
						
						<p>There was once a time when you had to select a hotel without the assistance of a star rating, 
						buy a car without an ANCAP safety rating, and purchase an appliance without an energy efficiency rating.
						 You were forced to decide based on marketing hype and emotion. Talk about unreliable! </p>
						 
						 <p>Thankfully these industries have since changed. Your rights as a consumer were recognised and 
						 your protection was prioritised. You now have the ability to make an informed decision and 
						 appropriately compare before buying.</p>
						 
						 <p>But, the truth is you don't have this same level of protection across all services - and buying
						  a home or investment property is one of them.</p>
						  
						 <p>Recognising the long and overdue need for the real estate industry to serve property buyers, 
						 CPx has created a new industry standard by grading properties and giving buyers access to 
						 fair and independent information.</p>
						 
						 <h4><i>The CPx grade works like a hotel star rating. It provides the disclosure buyers need to
						  find the right property. </i></h4>
						 
						 <div class="clearout"></div>
						 
						 <div class="col-sm-12 nopadding">
						 	<!-- <div class="col-sm-2 AAgrade"><span class="gradecicle Bcircle"></div> -->
						 	<div class="col-sm-1"></div>
						 	<div class="col-sm-2 col-xs-12 aligncenter grade-box">
								<div class="gradecicle AAcircle">AA</div>
							</div>
							<div class="col-sm-2 col-xs-12 aligncenter grade-box">
								<div class="gradecicle Acircle">A</div>
							</div>
							<div class="col-sm-2 col-xs-12 aligncenter grade-box">
								<div class="gradecicle Bcircle">B</div>
							</div>
							<div class="col-sm-2 col-xs-12 aligncenter grade-box">
								<div class="gradecicle Ccircle">C</div>
							</div>
							<div class="col-sm-2 col-xs-12 aligncenter grade-box">
								<div class="gradecicle Dcircle">D</div>
							</div>						 							 	
						 </div>
						 <div class="clearout"></div>
						 
						 <p>Acting as an independent property rating system, the CPx property grade allows you to evaluate
						  individual properties based on historical growth rate, price risk, demographics, internal floor 
						  plan flow, street scape/traffic flow, parking and outdoor space; so you can evaluate and compare 
						  properties most suited to you quickly and easily.</p>
						 
						
						
						<p>Properties are graded by leading property experts at JLL
						 Pty Ltd, giving you the peace of mind knowing that you are basing your financial 
						 decisions on independent, accurate information - not just emotion or marketing hype.</p>
						
						
						
						<p>You have to live with the consequences of your property decision a lot longer than an appliance,
						 vacation or car, so before you buy your next property, ensure it&#8217;s graded.</p>
						
						<p>Want to see it in action? Visit <a href="http://www.centralpropertyexchange.com.au/">http://www.centralpropertyexchange.com.au/ </a>now.</p>
						
						<h5><i>Like the hotel industry...one day all properties around the world will be graded.</i></h5>

<br/>
