       
      
       
       <div class="header-bar"><h2>FAQ's</h2></div>
       
       
       
       <p class="presspageheader">2. How does CPx marketing attract property buyers?</p>
       
       
       					<p>
         					CPx being the ONLY independent platform in Australia makes the service very attractive for... 
         				</p>
         				<p>
         					<b>A new audience - financial services:</b> In addition to being very attractive to traditional buyers: CPx's independent process by its very 
         					nature appeals to the financial services (financial planners, self managed super funds and mortgage brokers). With the knowledge that 
         					CPx properties are graded, with no added real estate agent 'selling-fees' and an independent process, financial service providers can now 
         					confidently add properties to their service offering.
         				</p>
         				<p>
         					CPx is a brand managed by Landlord Central Pty Ltd. Landlord Central has over the years, built a business network of several thousand businesses.
         					This network will be given free access to CPx.  The network data-base consists of financial planners, mortgage brokers, accountants, 
         					buyer's agents and real estate agents.
         				</p>
         				<b>Marketing to buyers and industry professionals</b>
         				<ul style="list-style-type: decimal;">
         					<li>
         						CPx has a national marketing plan designed to attract direct buyers, this includes:
         						<ul>
         							<li>
         								plans for digital on line marketing; and 
         							</li>
         							<li>
         								a small national TV campaign.
         							</li>
         						</ul>
         					</li>
         					<li>
         						Business targeted campaign managed by the CPx sales team will run in parallel to further increase the size of the business network.
         					</li>
         				</ul>
         				<p>
         					CPx's is the only platform in Australia that offers a national standard for listing properties ready for sale. Within the national standard are 
         					key mandates all properties listed on CPx must comply with (two of which include the following). This CPx advantage creates repeat CPx website users.
         				</p>
         				<ul style="list-style-type: circle;">
         					<li>
         						A national listing standard: It is mandatory to have an Independent Property Review (ipr) for every property listed. 
         						This mitigates potential bias and allows for apples with apples comparisons.
         					</li>
         					<li>
         						Significant savings: It is mandatory all properties are listed with NO real estate agents 'selling-fees': Real estate agent and marketing 
         						fees may range between $10,000 to $35,000 ('selling-fees' vary greatly across Australia). This is a significant saving for the property 
         						seller and buyer!
         					</li>
         				</ul>
       
       
       <br>
       <p class="blogborder"></p>
       
      
       
     
       
  