       
      
       
       <div class="header-bar"><h2>FAQ's</h2></div>
       
       
       
       <p class="presspageheader">3. Can I list/ advertise with CPx when my property is already listed with an agent or project marketing  company?</p>
       
       
       					<p>
         					Yes. If your property is listed by an agent with an open-agency agreement then having your property on CPx will be an additional advertising medium.
         				</p>
         				<p>
         					Where you have an exclusive agency agreement CPx recommends you wait until the exclusive period expires before you advertise with CPx.
         				</p>
         				Types of agency and marketing agreements<br>
						The two main types of agreements used to list a property by a real estate agent include:
						<ul style="list-style-type: lower-alpha;">
							<li>
								Open agency (non-exclusive); and
							</li>
							<li>
								Exclusive agency.
							</li>
						</ul>
						<p>The commercial terms and obligations within these agreements are imposed on the property seller thus, a thorough understanding is recommended.</p>
						<ul style="list-style-type: lower-alpha;">
							<li>
								<b>Non-exclusive also known as open agency agreement:</b> allows the property seller to appoint unlimited agents, marketers, (or others) in their effort to sell their property. 
								The selling-fee is ONLY payable to the agent (or party) that procured the property buyer.
								<ul style="list-style-type: circle;">
									<li>
										Terms: are simple and flexible for the property seller (vendor); in essence any party that procures a buyer will be paid the selling-fee.
									</li>
								</ul>
							</li>
							<li>
								<b>Exclusive agency agreement:</b> Unless there are special conditions within this agreement; then regardless of who procures the property buyer, 
								the agent with the exclusive agency agreement is also entitled to the selling-fee noted in the agreement.
								<ul style="list-style-type: circle;">
									<li>
										Some agents use exclusive agreements as a promise of better results. This may result in a controlled process with limited buyer opportunities. 
										Why? Because it is NOT common practice for real estate agents to share a property listing with other parties claiming to have a buyer.
									</li>
									<li>
										Terms: are rigid for the property seller (vendor). During the agreement period the seller must rely on the one party to procure a buyer.  
									</li>
								</ul>
							</li>
							
						</ul>
						
         				<p>
         					<b>CPx recommends:</b> that a vendor considers using an open agency agreement rather than an exclusive agreement, as open agency agreements pose greater 
         					flexibility. By having your property available via multiple mediums allows all parties to bring forward a potential buyer. A fee is only payable on 
         					results; to the entity that procured the buyer.  
         				</p>
         				
         				<p>
         					<b>Better still:</b> properties listed on CPx do not have a selling-fee and do not need an agency agreement; this is an ideal property medium for 
         					purchasing properties for: the financial services industry; buyer's agents; and international buyers/agents. Unlike the traditional advertising 
         					sites CPx marketplace, allows everybody to trade.
         				</p>
         				
         				<p>
         					<b>CPx governance:</b> please note if the property is already listed with an agent, then the selling-fees MUST be declared prior to listing/ advertising 
         					on CPx. The CPx price is the listed price minus the selling-fees. Buyers are advised that they may purchase the property at the CPx price 
         					(CPx price is the lower price). 
         				</p>
       
       
       <br>
       <p class="blogborder"></p>
       
      
       
     
       
  