       
      
       
       <div class="header-bar"><h2>FAQ's</h2></div>
       
       
       
       <p class="presspageheader">4. Must I have a real estate licence to list/ advertise on CPx?</p>
       
       
       					<p>
         				No, anyone can list/ advertise on CPx. CPx does have a governance listing process that must be adhered to. Please refer to List your property on CPx and for more information please visit Independent process and review the Governance section.	
         				</p>
       
       
       <br>
       <p class="blogborder"></p>
       
      
       
     
       
  