       
      
       
       <div class="header-bar"><h2>FAQ's</h2></div>
       
       
       
       <p class="presspageheader">5. How does CPx compare to vendor direct advertising sites?</p>
       
       
       	This style of property advertising is on the increase in Australia for a number of reasons;
         				<ul style="list-style-type: lower-alpha;">
         					<li>
         						Vendors want the option to sell their own property without assistance or associated traditional selling-fees payable to an agent. 
         					</li>
         					<li>
         						The advertising rates/ monthly subscriptions for some advertising sites in Australia are unaffordable for small agents. 
         						In their effort to find a new medium for advertising, these agents are collaborating with the vendor's advertising sites, 
         						to list their client's properties.
         					</li>
         					<li>
         						Vendors are recognising that listing a property is a small part of the entire sales process; 
         						hence they can do it themselves, thereby CPx makes their property available to a wider audience.
         					</li>
         				</ul>
         				<p>
         					<b>The CPx advantage</b>
         				</p>
         				CPx offers these fundamental advancements:
         				<ul style="list-style-type: decimal;">
         					<li>
         						<p><b>National listing standard.</b> In CPx, it is mandatory to have an Independent Property Review (ipr) for every property listed.</p>
         						<p>
         							An ipr involves assigning a grade and independent information to each property. This information is compiled by 
         							JLL. 
         							This third-party information is made available on all the listed properties in-place-of the vendor/agent supplied description.
         						</p>
         						
         							A free ipr can be downloaded for every property listed. For this reason CPx is able to provide a national listing standard. 
         							This national standard:
         						
         						<ul style="list-style-type: circle;">
         							<li>
         								Provides up-to date third-party consistent property information; and
         							</li>
         							<li>
         								Mitigates selling agent and vendor bias.
         							</li>
         						</ul>
         					</li>
         					<li>
         						<b>The properties listed on CPx do not include a real estate agent 'selling-fee'.</b> This is indicated by the use of the following labels:
         						<ul style="list-style-type: circle;">
         							<li>
         								<b>Listed price:</b> means the property for-sale-price is inclusive of the Real Estate Agents Selling-Fees.
         								<ul style="list-style-type: circle;">
	         								<li>
	         									<b>CPx price:</b> means the property for-sale-price is less the Selling-Fees.
	         								</li>
	         								<li>
	         									<b>Savings:</b> means the real estate agent 'Selling-Fee' where applicable.
	         								</li>
         								</ul>
         							</li>
         						</ul>
         					</li>
         				</ul>
         				<p>
         					The CPX process is and Australian FIRST, unique to CPx and fair for the seller and buyer.
         				</p>
         				<p>
         					For more information please visit 
         					Independent process and review 
         					the Governance section. 
         				</p>
       	
       	
       
       <br>
       <p class="blogborder"></p>
       
      
       
     
       
  