       
      
       
       <div class="header-bar"><h2>FAQ's</h2></div>
       
       
       
       <p class="presspageheader">6. Why are there a small number of properties listed on CPx?</p>
       
       
       					<p>
         					Unlike other real estate sites, where the information presented with the listed properties is inconsistent. And, even more-concerning relevant 
         					information may be omitted from the listing information. Also, whilst having a large number of properties on a single list is great, with 
         					NO mandatory national listing standard in place, this traditional process FAILS to deliver an informed experience for the buyer. <br>For more 
         					information please 
         					click here to watch video.
         				</p>
         				<p>
         					The quality and type of information on CPx adheres to strict national guidelines that provide buyers with rich independent information, 
         					allowing them to make an informed decision. 
         				</p>
         				<b>CPx has a governance process;</b> an Australian First! It is mandatory that all properties listed on CPx must comply with:
         				<ul>
         					<li>
         						<b>No real estate agent 'selling-fee':</b> In the traditional process, the property for-sale-price includes a real estate agent 
         						'selling-fee'. Properties listed on CPx, do not include this traditional 'selling-fee'.
         					</li>
         					<li>
         						<p>
         						<b>Independent property review (ipr):</b> In CPx, it is mandatory to have an Independent Property Review (ipr) for every property listed. 
         						The review is valid for three months. In cases where the property remains unsold, a new ipr must be ordered to retain the listing on CPx.
         						</p>
         						<p>
         							An ipr involves assigning a grade and independent information to each property. This information is compiled by 
         							JLL. 
         							This third-party information is made available on all the listed properties in-place-of the vendor/agent supplied description.
         						</p>
         					</li>
         					<li>
         						<b>Rental estimates</b> (auto-system generated coming soon)
         					</li>
         					<li>
         						<b>No co-agency and no referral fees sharing:</b> The real estate agent 'selling-fee' cannot be shared with another agent or industry professional 
         						on CPx. Since payment determines service obligation and customer loyalty, sellers and buyers are able to appoint their own independent 
         						industry professional. This professional then represents the buyer's or seller's needs, ensuring unbiased and independent representation.
         					</li>
         					<li>
         						A copy of the complete <b>contract-of-sale</b> or a contract-of-sale summary is included in the available property information, in that:
         						<ul style="list-style-type: circle;">
         							<li>
         								A copy of the complete contract-of-sale can be made available, saving the cost of purchasing the contract-of-sale summary; or
         							</li>
         							<li>
         								A contract-of-sale summary can be ordered through CPx.
         							</li>
         						</ul>
         					</li>
         				</ul>
         				<p>
         					<b>Being a new service in Australia;</b> CPx beta launch 19th January 2015 and the official launch 2nd Feb 2015. CPx does recognise the importance of 
         					having properties from across Australia and has committed resources to facilitate new listings which are being added consistently. 
         					For more information please refer to FAQs 2.
         				</p>
         				<p>
         					A positive aspect of this relatively short list of properties is that viewing these properties on CPx is like viewing a short list of 
         					featured properties. For example, if there was only one property listed, from an entire business network of thousands of property buyer's 
         					visiting CPx, increased consideration would be given to this property for purchase, as opposed to other websites 
         					that require buyers sorting through numerous pages of properties.
         				</p>
       
       
       <br>
       <p class="blogborder"></p>
       
      
       
     
       
  