       
      
       
       <div class="header-bar"><h2>FAQ's</h2></div>
       
       
       
       <p class="presspageheader">7. I am a property developer who uses a network to sell my properties. Will my network be compromised if the same property is also listed for sale on CPx?</p>
       
       
       					<p>
         				No. Regardless of the commissions on offer, size or service location of your network, they are presenting their services to procure a buyer.  You only pay the service provider that procured the buyer. Are other service providers within your network being compromised when one of them does procure a buyer?  Of course they are not, as only one party can secure the sale.
         				</p>
         				<p>
         				CPx is an advertising platform and may be viewed as another channel within your network to sell your properties. Some service providers use a percentage of their sales commission as a rebate or referral fee to entice a buyer. CPx, as a business model, transforms these commissions into &#145savings&#146 to the buyer. This selling strategy also makes your property sale price better value for money. 
         				</p>
         				<p class="blueline">
         				Try CPx today!  List one property from your entire project and experience the difference.
         				</p>
       
       
       <br>
       <p class="blogborder"></p>
       
      
       
     
       
  