
       
      
       
       <div class="header-bar"><h2>FAQ's</h2></div>
       
       
       
       <p class="presspageheader">8. How much of the commission can be retained to offset CPx administration/ listing support fees?</p>
       
       
       					<p>
         				As per CPx &#145Industry Professionals Representing Sellers - Indicative Service Fees&#146 the following fees are recommended: 
         				</p>
         				<p>
						&nbsp;&nbsp;&nbsp;&nbsp;Scope of service may include these options:	
         				</p>
         				<ul style="padding-left: 80px;">
         					<li>
         						<b>Admin support (desk top based):</b> Managing phone calls, emails and ordering signs<br> 
							= $150 per property
         					</li>
         					<br>
         					<li>
         						<p>
         						<b>Field support:</b> Open house, administration support or project marketing onsite support<br> 
								= $1,000 +GST per property</p>
         					</li>
         					<li>
         						<b>Specific scope of service: </b>By negotiation
         					</li>
         			
         				</ul>
         				
         				<p>Relevant to your own internal operations or business model, you may opt to retain $150, $1,000 or other amount from the commission included in the Listed Price. </p>
         				
         				<p>For example: If a commission of $20,000 is included in the Listed Price and you choose to retain $1,000 for fees, then a saving of $19,000 would be declared to the buyer. </p>
  
  
  						<p class="blueline">
         				Try CPx today!  List one property from your entire project and experience the difference.
         				</p>			
       
       
       <br>
       <p class="blogborder"></p>
       
      
       
     
       
  











