       
      
       
       <div class="header-bar"><h2>FAQ's</h2></div>
       
       
       
       <p class="presspageheader">9. Is a property with a low Graded score worthwhile advertising on CPx?</p>
       
       
       					<p>
         				Yes, of course. A Grade is determined by a range of scores that places a property in one of five categories: AA, A, B, C and D. The total points scored determine which of these Grades a property fits into and can assist the vendor with their property pricing.
         				</p>
         				<p>
						The score of a property is comprised of seven comparative attributes, and the resulting Grade does not indicate a good or bad purchase. It simply shows how the property performs related to these seven attributes.
         				</p>
   
         				
         				<p>Which Grade is best for a buyer? No Grade in particular as one attribute could be more important to a buyer than others. CPx recommends buyers compare individual property attributes to determine which contribute more strongly to the overall score.</p>
         				
         				<p>The fact is any Grade of property is worth considering.  It all depends upon what the buyer is looking for.  <a href="#!/about/what-is-graded">more...</a></p>
       
       
       <br>
       <p class="blogborder"></p>
       
      
       
     
       
  