<div class="static-content">

<!-- <div class="professionalsbutton">
<div class="row">
<button type="button" class="btn btn-default active">Summary</button>
<button type="button" class="btn btn-default">View existing groups/networks</button>
<button type="button" class="btn btn-default">Submit service request</button>
</div>
</div> -->

<p>CPx allows the property seller and buyer to appoint their personal industry professional; ensuring service obligation and customer loyalty. Thus, the interests of each party are independently represented at the same time significant cost savings are achieved!</p>

<ul style="list-style-type:none">

<p>To assist seller and buyer benefit from this relatively new thinking...</p>

<p><b><i>Part of the CPx governance, includes the following recommendations:</i></b></p>

<ul>

<li><i>The seller and buyer are encouraged to negotiate a fixed fee-for-service terms and not a percentage of the sale price, with their nominated industry professional.</i></li>

<li><i>The buyer and seller do not appoint the same industry professional for the same property sale/purchase.</i></li>
</ul>

<br>
<p><b><i>CPx&#39s objective is to give property buyers and sellers an expectation of the indicative fees CPx recommends the industry professionals charge for independent service.</i></b></p>

</ul>

 <accordion class="static-accordian">
   
    <accordion-group is-open="toggleStatus.first">
        <accordion-heading >
  						<i class="pull-left glyphicon"  ng-class="{'glyphicon glyphicon-plus':  !toggleStatus.first, 'glyphicon glyphicon-minus': toggleStatus.first}"></i>
  						Industry professionals
					
        </accordion-heading>
         				<p>An industry professional is any entity that is providing a service to a property buyer or seller for the purchase or selling of a property. List of industry professionals</p>
   
   <div class="proffessionalstable">
                   <table class="table table-bordered">
                   
                   <tr><td>Representing the seller</td>
                   <td>Representing the buyer</td>
                   </tr>
                  
                   <tr>
                   <td>
                   <p>Legal</p>
                   <p>Accountants</p>
                   <p>Auctioneers</p>
                   <p>Negotiators</p>
                   <p>Process managers/administrators</p>
                   <p>Inspections</p>
                   <p>Energy efficient ratings</p>
                   <p>Signs</p>
                   <p>Valuers</p>
                   <p>Confidis (an independent trust account)</p>
                   
                   </td>
                   
                   <td>
                   <p>Legal</p>
                   <p>Accountants</p>
                   <p>Financial Planners</p>
                   <p>Mortgage brokers</p>
                   <p>SMSF</p>
                   <p>Buyers agents</p>
                   <p>Real Estate Agents</p>
                   <p>Property investment Coaches</p>
                   <p>Inspections</p>
                   <p>Valuers</p>
                   <p>Confidis (an independent trust account)</p>
                   </td>
                  
                   </tr>
                   </table>   
   </div>
   
   
   
   
   </accordion-group> 
   
   <accordion-group is-open="toggleStatus.second">
        <accordion-heading >
  						<i class="pull-left glyphicon"  ng-class="{'glyphicon glyphicon-plus':  !toggleStatus.second, 'glyphicon glyphicon-minus': toggleStatus.second}"></i>
  						Industry professionals representing sellers &#150 indicative service fees
					
        </accordion-heading>
         		<p>Within the CPx process, &#145Process manager/administrators&#146 (see industry professionals section above) replace the traditional services provided by the real estate agent or project marketer.</p>
         		
         		<p>The effort required to list and provide administrative support per property is exactly the same regardless of the property sale price.</p>
         		
         		<p>Scope of service may include these options:</p>
         		
         		<ul>
         		<li><b>Admin support (desk top based):</b> Managing the phone calls and emails and ordering signs = $150 per property</li>
         		
         		<li><b>Field support:</b> open house + admin support or project marketing onsite support = $1,000 +GST</li>
         		
         		<li>Specific scope of service = $ by negotiation</li>
         		</ul>
         		
         		<p>For other &#145seller&#146 services, please do your own research and obtain your own pricing.</p>
         				
   </accordion-group> 
   
   <accordion-group is-open="toggleStatus.third">
        <accordion-heading >
  						<i class="pull-left glyphicon"  ng-class="{'glyphicon glyphicon-plus':  !toggleStatus.third, 'glyphicon glyphicon-minus': toggleStatus.third}"></i>
  						Industry professionals representing buyers &#150 indicative service fees
					
        </accordion-heading>
         
         <p>Within the CPx process, &#145buyers agents&#146, &#145real estate agents&#146, &#145property investment coaches&#146 (see industry professionals section above) may be appointed to represent the buyer.</p>

         <p>The effort required to short-list and provide administrative support per property is exactly the same regardless of the property sale price.</p>  
          
         <p>Scope of service may include these options:</p>
   
          <ul>
         		<li><b>Basic:</b> includes administrative support, short listing properties on CPx and providing reports = $1,000 +GST</li>
         		
         		<li><b>Comprehensive:</b> Research, compare and short list properties most suited as per the buyers needs. This service is not limited to properties listed on CPx = $4,500 +GST</li>
         		
         		<li>Specific scope of service = $ by negotiation</li>
         </ul>
   
          <p>For other &#145buyer&#146 services, please do your own research and obtain your own pricing.</p>  
   </accordion-group> 
   
</accordion>
  
  
  <p><b>No fee for introduction or &#145finding an industry professional&#146:</b> CPx has a policy about sharing agent &#145selling-fees&#146 and referral fees: CPx does not introduce sellers or buyers to industry professionals. CPx merely makes the marketplace available to enable sellers, buyers and industry professional to do so themselves. Therefore, CPx does not charge a fee when a seller or buyer finds a suitable industry professional. Please see page <a href="#!/industry/working-with-cpx" target="_blank" title="Working with CPx">&#145Working with CPx&#146</a>  for more details on what charges are applicable to industry professionals.</p>
  
  <p><b>Agreements:</b> Please ensure appropriate agreements covering the scope of service are established between yourself and the industry professionals. <a href="https://confidis.com.au" target="_blank" title="https://confidis.com.au">https://confidis.com.au</a> offers an independent trust account and a service to manage online agreements.</p>
  
  </div>