<div class="static-content">
	<p>CentralPropertyExchange.com.au [CPx] is Australia&#39;s first independent buyer-focused real estate 
	advertising website; hence CPx is the ideal platform to the financial services industry.  </p> 
	<p>If you are want to reduce your advertising cost and appeal to the financial services industry*...Then CPx ought to be one of your channels.</p> 
	
	<p>CPx allows developers and agents to advertise properties for FREE.</p>

	<p>Properties can be published via multiple portals/ uploaders. For this reason CPx only provides 
	the functions to &lsquo;append&rsquo; ie only add extra information to your properties.</p>

	<p>CPx has an arrangement with PropertyCompass.com.au where you can list, mange and publish properties 
	to CPx for free. Within CPx, you can append, manage and track your advertised properties.</p>
	<p>Please <a href="https://app.propertycompass.com.au/ " style="text-decoration:underline;">click here to open a FREE PropertyCompass.com.au account</a></p>
	<p>If you already have an account with a property listing portal/ uploader and you want centralpropertyexchange.com.au to 
	be included in the &lsquo;publish-to&rsquo; list, do let us know. </p><br/>
	
	<p>*There are over 100,000 financial professionals in Australia representing millions of clients.</p>
</div>