<div class="static-content">

<p>CPx creates a new independent process for real estate sales.</p>

<p>Independent: <i>Free from the influence or control of others.</i></p>

<p>Information displayed on CPx in addition to its processes, are not affiliated or loyal to a particular property seller. As with many other industries across Australia that offer independent processes, for example, the legal or financial planning industries, real estate selling and buying can now be conducted through an independent process. </p>

<p>The traditional real estate process has potential bias. Real estate agents generally serve the seller and the buyer, in parallel, for the sale of a property. Also, information available on properties is inconsistent across Australia. The CPx independent process mitigates all this, as it covers:</p>

<ol>
<li><b>Information:</b> In CPx, it is mandatory to have an Independent Property Review (ipr) for every property that is listed. An ipr involves assigning a grade and independent information to each property. This information is compiled by <a href="http://www.jll.com.au/australia/en-au/services/investors-developers/valuations-and-advisory/mortgage-services" target="_blank" class="bluelink" title="JLL">JLL</a>. This third-party information is made available on all the listed properties in-place-of the vendor/agent supplied description. A free ipr can be downloaded for every property listed. For this reason CPx is able to provide a national listing standard.</li>

<li><b>Representation:</b> CPx allows each party to appoint their personal industry professional, such as a real estate agent, valuer or solicitor; ensuring service obligation and customer loyalty. Thus, the interests of the seller and buyer are independently represented!</li>
</ol>

<p>CPx offers an alternative process, fair for both the seller and buyer.</p>

<p><b>Real estate agents</b> can have a significant role within the CPx process, by slightly changing how to serve sellers and buyers. Real estate agents in CPx may provide two separate services: </p>

<ul>
<b>i) Seller:</b> to assist the private seller or developer in negotiating or managing the sales process.<br>

<b>ii) Buyer:</b> to assist the buyer with identifying suitable properties for their needs.
</ul><br>
<p><b>Sellers and buyers</b> may opt to do-it-yourself or appoint an industry professional for a specific service, therefore pay a separate fee. CPx suggests that sellers and buyers consider requesting a fixed fee-for-service from these professionals.</p>

<p>CPx offers relevant and important advantages over the traditional process.</p>





</div>
<a id="iptag" name="iptag"></a>
<div class="panel panel-default comparisonpanel">


  <div class="panel-heading">
  <div class="fourth"> Comparison</div>
  
  </div>
  <div class="panel-heading" style="margin-bottom:15px !important;"><table class="table comparison">
  
  <tr>
  <th class="first">&nbsp;</th>
   <th class="second">CPx independent process</th>
   <th class="third">Traditional real estate process</th>
   </tr>
  </table></div>
  <div class="panel-body">
    
    <accordion class="static-accordian">
  <accordion-group is-open="toggleStatus.sixth">
        <accordion-heading >
  						
  						
  <table class="table comparison">
  <tr>
  <th class="first"><i class="pull-left glyphicon"  ng-class="{'glyphicon glyphicon-plus':  !toggleStatus.sixth, 'glyphicon glyphicon-minus': toggleStatus.sixth}"></i></th>
   <th class="second">Significant cost savings</th>
   <th class="third">Unknown fees included</th>
   </tr>
  </table>

					
        </accordion-heading>
         				
  <table class="table comparison">
  <tr>
  <td class="first"></td>
   <td class="second">
   <p>If the property for-sale-price includes a real estate agent &lsquo;Selling-fee&rsquo;. A seller or agent may opt to pass on some or all the &lsquo;Selling-fee&rsquo; directly to a buyer via a saving:</p>  

  
	<ol class="leftpad13" style="list-style-type:lower-roman;">
			<li> If applicable CPx will advertise the property for-sale-price in the following manner. 
				<ul style="list-style-type:disc;">
					<li>Listed price: this is the property for-sale-price includes the Selling-fees</li>
			        <li>CPx price: this is the property for-sale-price less the Saving</li>
			        <li>Saving: this is the portion nominated on what the buyer can save</li>
			    </ul><br/>
			    <p>For example: If &lsquo;Selling-fees&rsquo; of $20,000 are included in the for-sale-price and you choose to retain $2,000 for costs/ services, hence a saving of $18,000 will pass on to the buyer.</p>	
			</li>
			<li> Where a saving is not applicable, only the &lsquo;CPx price&rsquo; will display against the property</li>
			<li> It is illegal in Australia to list/ advertise the same property with different for-sale-prices.</li>
			<li> If a false for-sale-price is declared CPx reserves the right to take your property 'Offline'. No refund is payable. </li>
			<li> Buyers are advised that the CPx price will be the declared contract buy/ sold price.</li>
	</ol>		
    
   <p>The end result. Both the buyer and seller end up paying less.</p>


   </td>
   <td class="third">
   
   <p>In the traditional process, the property for-sale-price includes a real estate agent &#145selling-fee&#146. this fee can be substantial.</p>

   <p>Disclosing &#145selling-fee&#146 to the buyer is NOT mandatory in most states and territories across Australia. This real estate agent &#145selling-fee&#146 at times, causes sufficient motivation and bias, by the real estate agent towards the seller.</p>

   <p>Buyers wanting independent representation to find a suitable property listed under this process, may appoint an industry professional, for example a buyer&#146s agent, this again may result in paying more overall.</p> 
   </td>
   </tr>
  </table>
                        
   </accordion-group> 
   
   
   <accordion-group is-open="toggleStatus.third">
        <accordion-heading >
  						
  						
  <table class="table comparison">
  <tr>
  <th class="first"><i class="pull-left glyphicon"  ng-class="{'glyphicon glyphicon-plus':  !toggleStatus.third, 'glyphicon glyphicon-minus': toggleStatus.third}"></i></th>
   <th class="second">No conflict of interest</th>
   <th class="third">Conflict of interest</th>
   </tr>
  </table>

					
        </accordion-heading>
         				
                        <table class="table comparison">
  <tr>
  <td class="first"></td>
   <td class="second">
   
   <p>CPx allows each party to appoint their personal industry professional, such as a real estate agent, valuer or solicitor; ensuring service obligation and customer loyalty. Thus, the interests of the seller and buyer are independently represented!</p>
   
   <p>YOU&#146RE in CONTROL. By appointing an industry professional to work with you, this professional will be obligated to serve your needs.  The benefits of engaging an industry professional through CPx also includes:</p>
   
    <ul class="leftpad13">
    <li><b>  Disclosure</b>  of property information: potential risks may be identified; </li>
   
    <li><b>  Experience:</b>  Given the industry professional&#146s experience the buyer will be assisted to find a property that suits their needs;</li> 
   
    <li><b>  Information comparisons:</b> The process and the type of information displayed allows for apples with apples comparisons.</li>     
    
    <li><b>  The financial services industry</b> is more likely to use CPx because of the independent process, opening the door to: SMSF; financial planning; and, mortgage industry.</li>
    
    <li><b>  Cost savings</b></li>
    
    </ul>
    <p>The CPx process accommodates the needs of both the buyer and the seller. Control is with both the seller and buyer.</p>
    
    
   </td>
   <td class="third">
   
   <p>The traditional real estate process has been unchanged for decades. Basically the seller (vendor) pays a real estate agent a &#145selling-fee&#146, to find a buyer.</p>
   
   <p>This process seems to be working: however, is this the most appropriate process to represent the interest of the buyer?; and, is the seller getting the best value?</p>
   
   <p>Since a payment determines the service obligation and customer loyalty; in this process, the obligation is to the seller. </p>
   
   <p>The buyer&#146s interests under this process are NOT represented</p>
   
   <ul style="list-style-type:none">
   <p>Knowing this process, how then can the buyer expect a service obligation or loyalty without paying for it? </p>
   
   <p>A buyer hoping that by some chance the same real estate agent will extend service obligations and loyalty to them; may end with potential conflict, bias, and/ or disappointment.</p>
   
   <p>Hence, property buyers should not be surprised by the type of service that they are provided from the real estate agent. Remember the real estate agent has been appointed by the seller.</p>
   </ul>
   
   <p>This traditional process fails to accommodate the needs of both the buyer and the seller. In this process control is given to the real estate agent, and possibly the seller.</p>
   </td>
   </tr>
  </table>
                        
   </accordion-group> 
   
   
   <accordion-group is-open="toggleStatus.fourth">
   <accordion-heading >
  						
  						
  <table class="table comparison">
  <tr>
  <th class="first"><i class="pull-left glyphicon"  ng-class="{'glyphicon glyphicon-plus':  !toggleStatus.fourth, 'glyphicon glyphicon-minus': toggleStatus.fourth}"></i></th>
   <th class="second">National listing standard</th>
   <th class="third">No, national best practice</th>
   </tr>
  </table>
  </accordion-heading>
         				
  <table class="table comparison">
  <tr>
  <td class="first"></td>
   <td class="second">
   
   <p>In CPx, it is mandatory to have an Independent Property Review (ipr) for every property that is listed.</p>
   
   <p>An ipr involves assigning a grade and independent information to each property. This information is compiled by <a href="http://www.jll.com.au/australia/en-au/services/investors-developers/valuations-and-advisory/mortgage-services" target="_blank" class="bluelink" title="JLL">JLL</a>. This third-party information is made available on all the listed properties in-place-of the vendor/agent supplied description. </p>
    
   <p>A free ipr can be downloaded for every property listed. For this reason CPx is able to provide a national listing standard. This national standard: </p>
    
    
   <ul class="leftpad13">
   <li> Provides up-to date third-party consistent property information; </li>    
   <li>Mitigates selling agent and vendor bias; and</li>
   <li>The process and the type of information displayed allows for apples with apples comparisons. </li>
    
   </td>
   <td class="third">
   
   <p>In Australia, there are currently no Government regulations or industry protocols that ensure a minimum or best national practice, on the information listed against a property. The lack of best practice may lead to:</p>
   
   <ul class="leftpad13">
   <li>Selling agent and vendor bias;</li>
   
   <li>Inaccuracy of information;</li>
   
   <li>The buyer missing relevant information;</li>
   
   <li>Exclusion of critical information; and</li>
   
   <li>Inaccurate comparisons, based on inconsistently listed property information.</li>
   
   </ul>
   
   <p>Traditionally, the layout, type and amount of information available on listed properties differs across Australia.</p>
   
   </td>
   </tr>
  </table>
                        
   </accordion-group> 
   
   
   
   <accordion-group is-open="toggleStatus.fifth">
   <accordion-heading >
  						
  						
  <table class="table comparison">
  <tr>
  <th class="first"><i class="pull-left glyphicon"  ng-class="{'glyphicon glyphicon-plus':  !toggleStatus.fifth, 'glyphicon glyphicon-minus': toggleStatus.fifth}"></i></th>
   <th class="second">Single point of contact</th>
   <th class="third">Contacting multiple agents</th>
   </tr>
  </table>
  </accordion-heading>
         				
  <table class="table comparison">
  <tr>
  <td class="first"></td>
   <td class="second">
   
   <p>All properties listed on CPx are made available to everyone. This means that anyone from anywhere can view and access properties across Australia without restriction. This includes buyers and industry professionals such as: </p>
    
    <ul class="leftpad13">
    
    <li>Buyers agents</li>
    
    <li>Real estate agents</li>
    
    <li>Financial planners</li>
    
    <li>Mortgage brokers</li>
    
    <li>Property investment coach</li>
    
    <li>Legal</li>
    
    <li>SMSF</li>
    
    <li>Accountants</li>
    
    <li>Immigration agents</li>
    </ul>
    
    <p>Buyers may opt to do-it-yourself or appoint an industry professional for a specific service. </p>
    
    <p>By using CPx, you may appoint an industry professional you trust. This means one industry professional can review all the properties on your behalf. Saving you time, frustration and cost. </p>  
    
    <p>CPx creates the forum for industry professionals to co-operate and work together to ultimately serve your needs. Depending on your needs, you may elect to work with more than one industry professional. </p>
    
   </td>
   <td class="third">
   
   <p>There are thousands of properties on the internet; enquiring about properties may mean contacting several different listing agents, from different agencies and locations. In fact, CPx estimates that to find a suitable property could necessitate contacting up to 70 agents. </p>
   
   <p>This can be overwhelming, time consuming and cumbersome. The buyer then needs to deal with and manage different personalities. A decision about buying a property can become very confusing. </p>
   
   <p>A national network of real estate offices does not mean that the buyer will receive service from a single point of contact. Each office is independently owned and operated. Generally, real estate agents prefer to control the property sale. </p>
   
   <p>Although there are thousands of properties listed and thousands of agents within networks across Australia, when assisting a buyer, a real estate agent is more motivated to sell their listed properties, rather than work with other agents.  </p>

   <p>Hence the requirement for buyers to contact many agents in their search for a suitable property.</p>

   </td>
   </tr>
  </table>
                        
   </accordion-group> 
   
   
   
    </accordion>

    
    
    
    
  </div>
  </div>


 <accordion class="static-accordian">
   
    <accordion-group is-open="toggleStatus.first">
        <accordion-heading >
  						<i class="pull-left glyphicon"  ng-class="{'glyphicon glyphicon-plus':  !toggleStatus.first, 'glyphicon glyphicon-minus': toggleStatus.first}"></i>
  						Governance
					
        </accordion-heading>
         				<!-- <p><b>Mandatory</b></p> -->
         				
         				
         				<ol>
         				
	         				<!-- <p>It is mandatory that all Australian properties advertised on CPx comply with:</p> -->
	         				<p>CPx recommends independent representation and provides the following to assist with how-to advertise properties. </p>
	         				
	         				<li><b>Independent Property Review (ipr):</b> an ipr is property specific and includes expert commentary, 
	         				a score and grade. The report is valid for three months, from the published date. CPx does not offer a refund 
	         				for properties advertised for less than three months.</li>
	         				<br/>
		         				<ol style="list-style-type:lower-roman;">
		         					<li> This third-party information is made available on all advertised properties in-place-of the 
		         					seller/ agent supplied marketing-copy/ text description. </li>
		         					<li> An ipr can be downloaded for free.</li>
		         					<li> Properties can only be advertised within the ipr <b>valid period</b>. In cases where the property 
		         					remains unsold, a new ipr must be ordered to retain the advertisement/ listing on CPx.</li>
		         				</ol>
	         				<br/>
         				
	         				<li>A copy of the complete <b>contract-of-sale</b> or a contract-of-sale-summary is included in the available
	         				 property information.</li>
	         				
	         					<br/>
			         				<ol style="list-style-type:lower-roman;">
			         					<li> A contract-of-sale-summary can be <a href="#!/order-independent-reports" style="background-color: #fff;color: #337ab7;text-decoration: underline;">ordered</a> through CPx. </li>
			         				</ol>
		         				<br/>
         				
         				<p>Optional &lsquo;Buyer Saving&rsquo;:</p>
         				
         				
         				<li><b>Property for-sale-price:</b> If the property for-sale-price includes a real estate agent &lsquo;Selling-fees&rsquo;.
         				 A seller or agent may opt to pass on some or all the &lsquo;Selling-fees&rsquo; directly to a buyer via a saving:</li>
	         				<br/>
		         				<ol style="list-style-type:lower-roman;">
		         					<li> If applicable CPx will advertise the property for-sale-price in the following manner. 
		         						<ul style="list-style-type:disc;">
		         							<li>Listed price: this is the property for-sale-price includes the Selling-fees</li>
		         							<li>CPx price: this is the property for-sale-price less the Saving</li>
		         							<li>Saving: this is the portion nominated on what the buyer can save</li>
		         						</ul><br/>
		         					<p>For example: If &lsquo;Selling-fees&rsquo; of $20,000 are included in the for-sale-price and you choose to retain 
		         					$2,000 for costs/ services, hence a saving of $18,000 will pass on to the buyer.</p>	
		         					</li>
		         					<li> Where a saving is not applicable, only the &lsquo;Listed price&rsquo; will display against the property</li>
		         					<li> It is illegal in Australia to list/ advertise the same property with different for-sale-prices.</li>
		         					<li> If a false for-sale-price is declared CPx reserves the right to take your property 'Offline'. 
		         					No refund is payable. </li>
		         					<li> Buyers are advised that the CPx price will be the declared contract buy/ sold price.</li>
		         				</ol>
	         				<br/>
  
         				
         				<li>Sellers may opt to  &lsquo;do-it-yourself&rsquo; or appoint an industry professional.</li><br/>
         				<li>Since payment determines service obligation and customer loyalty; sellers and buyers are encouraged
         				 to appoint their own independent industry professional.  This industry professional then represents 
         				 the buyer&rsquo;s or seller&rsquo;s needs, ensuring unbiased and independent representation.</li><br/>
         				<li>The seller and buyer are encouraged to negotiate a fixed fee-for-service terms and not a percentage
         				 of the sale price, with their nominated industry professional.</li><br/>
         				<li>The buyer and seller do not appoint the same industry professional for the same property sale/purchase.</li><br/>
         				
         			</ol>
         				
   </accordion-group> 
  </accordion>
  
<div ng-if="gotoLocation()" ></div>
