<header2></header2>
<div class="container-fluid cpxpage">
	<div class="row">
		<div class="col-sm-12 col-xs-12 cpxbg" align="left">
			<h1 class="fronthead container" ng-if="pid == 'working-with-cpx'" >Working with CPx</h1>
			<h1 class="fronthead container" ng-if="pid == 'view-directory'">View directory</h1>
			<h1 class="fronthead container" ng-if="pid == 'Contact_us_for_more'">Contact us</h1>
			<h1 class="fronthead container" ng-if="pid == 'public-speaking-profiles'">Public speaking profiles</h1>
			<h1 class="fronthead container" ng-if="pid == 'free-publish-your-listings'">FREE - publish your listings</h1>
			<h1 class="fronthead container" ng-if="pid == 'listing-affiliate'">Listing affiliate</h1>
		</div>
	</div>
</div>

<div class="container cpxcontent" >
	<div class="row collapsedmenu visible-xs">
		<div workingcpxmenucollapsed></div>
	</div>
	<div class="row datacontainer">
		

		<div class="col-sm-8 col-xs-12 maincontent">

			<div ng-if="pid == 'working-with-cpx'" ng-include='"views/working_with_cpx.html"'></div>
	        <div ng-if="pid == 'view-directory'"ng-include='"views/View_directory.html"'></div> 
			<div ng-if="pid == 'Contact_us_for_more'"ng-include='"views/contact_us.html"'></div>
			<div ng-if="pid == 'public-speaking-profiles'"ng-include='"views/public_speaking_profiles.html"'></div>
			<div ng-if="pid == 'free-publish-your-listings'"ng-include='"views/free_publish_your_listings.html"'></div>
			<div ng-if="pid == 'listing-affiliate'"ng-include='"views/listing_affiliate.html"'></div>
			
			
			<div class="cpxend">&nbsp;</div>


		</div>
		<div class="col-sm-4 col-xs-12  rightmenu" >
			<div workingcpxmenu></div>
		<!--  	<div class="col-sm-12 col-xs-12 input-group downloadbutton">
				 <a href="docs/CPxBrochure2Feb2015.pdf" target="_blank" class="btn btn-primary btn-lg btn-block nopadding noborder" type="button" ng-click="go(properties[$index + 1].ipr[0].url)">
					<span class="input-group-addon " style="padding: 0px;">
						<span class=" glyphicon glyphicon-arrow-down star-color pull-left"></span>
				  		<span class="buttonheading pull-left">Download brochure</span>
				  		<span class="input-group-addon top-span1 nopadding pull-right btn-pdf" aria-hidden="true"></span>
				  	</span>
				 </a>
			</div>
			<div class="col-sm-12 col-xs-12 input-group videobutton">
				 <a href="#!/" class="btn btn-primary btn-lg btn-block nopadding noborder" type="button" ng-click="go(properties[$index + 1].ipr[0].url)">
					<span class="input-group-addon " style="padding: 0px;">
						<span class=" glyphicon glyphicon-play star-color pull-left"></span>
				  		<span class="buttonheading pull-left">View video</span>
				  		<span class="input-group-addon btn-youtube top-span1 nopadding pull-right " aria-hidden="true"></span>
				  	</span>
				 </a>
			</div>  -->

			  <div class="col-sm-12 sideheader">
			  	<span ng-if="pid == 'working-with-cpx'" ><i>Free membership, No referral fees</i></span>
			  	<span ng-if="pid == 'view-directory'" ><i>Free membership, No referral fees</i></span>
			  	<span ng-if="pid == 'Contact_us_for_more'" ><i>Free membership, No referral fees</i></span>
			  	<!-- <span ng-if="pid == 'public-speaking-profiles'" ><i></i></span> -->
			  </div>
			  
			  
			<div class="col-sm-12 nopadding" ng-if="pid != 'working-with-cpx' && pid != 'free-publish-your-listings' && pid != 'listing-affiliate'">
			  	<a class="thumbnail">
		            <img src="images/propertyimage1.png" class="thumbnail img-responsive " alt="property image">
		        </a>
			  </div> 
			  
			   <div class="col-sm-12 nopadding" ng-if="pid == 'free-publish-your-listings'">
			  	<a class="thumbnail">
		            <img src="images/listurpropthumbnail.png" class="thumbnail img-responsive " alt="listurpropthumbnail.png">
		        </a>
			  </div>
			  
			   <div class="col-sm-12 nopadding" ng-if="pid == 'listing-affiliate'">
			  	<a class="thumbnail">
		            <img src="images/IP-ListingAffiliate.png" class="thumbnail img-responsive " alt="IP-ListingAffiliate.png">
		        </a>
			  </div>
			  
			  <div class="col-sm-12 nopadding" ng-if="pid == 'working-with-cpx'">
			  	<a class="thumbnail">
		            <img src="images/workingwithCPx.jpg" class="thumbnail img-responsive " alt="workingwithCPx.jpg">
		        </a>
			  </div>
			  
			  <!-- <div class="col-sm-12 nopadding" ng-if="pid == 'public-speaking-profiles'">
			  	<a class="thumbnail">
		            <img src="images/thumbnail.png" class="thumbnail img-responsive " alt="Public speaking profiles">
		        </a>
			  </div> -->
			  		
		</div>
	</div>
</div>
		