<div class="static-content">
				
						Let's start with a pressing question:
						<ul style="list-style-type:none">
							<li>
								<br>
								<p>
									<i>
										Why list/advertise with CPx? As there are so many real estate agents and major advertising sites 
										offering this service, which seems to be working, and available at no cost in some cases!
									</i>
								</p>
							</li>
						</ul>
					
						The answer...
						<ul style="list-style-type:none">
							<li>
								  <p>
									<b>Significant savings:</b> Real estate agents and marketing fees may range between $10,000 to $35,000
									 ('selling-fees' vary greatly across Australia). This is a significant saving for the property seller and buyer!
								 </p>
								 <p>
								 	<b>Real estate, its different now!</b> The traditional process of listing a property for sale has less value today due to the advancements of 
								 	the internet. And because the internet is popular and easy-to-use the actual listing/advertising effort has become only a small part of 
								 	the selling process. Therefore why outsource and over-pay for 'just-listing' a property?
								 </p>
								 <p>
								 	<b>On CPx everyone can list for free:</b> Vendors and developers can list/advertise on CPx. Buyers have the option of dealing directly with the 
								 	vendor or selecting independent representation. 
								 </p>
								 <p>
								 	<b>National listing standard:</b> It is mandatory to have an Independent Property Review (ipr) for every property that is listed. 
								 	This mitigates potential bias and allows for apples with apples comparisons. 
								 </p>
								 <p>
								 	<b>A new audience - financial services:</b> In addition to being very attractive to traditional buyers: CPx's independent process by its 
								 	very nature appeals to the financial services (financial planners, self managed super funds and mortgage brokers). With the knowledge 
								 	that CPx properties are graded and an independent process, financial service providers 
								 	can now confidently add properties to their service offering. 
								 </p>
							</li>
						</ul>
					
					
						<b>Ultimately it is about selling your property</b>
					
					
						<p>Imagine how open a buyer would be to using CPx, knowing that they could access properties with significant savings via a national mandatory
					 listing standard. </p>
					
					
						<p>
					An Australia first! CPx offers a great service for buyers and their advisors... 'your target market', and ultimately for you! 
				 	</p>
					
					
					
					
			</div>
			<div class="col-sm-12 nopadding">
					<accordion class="static-accordian">
					
					 <a id="rate"></a>
					    <accordion-group is-open="listStatus.rate">
					        <accordion-heading >
					  						<i class="pull-left glyphicon"  ng-class="{'glyphicon glyphicon-plus':  !listStatus.rate, 'glyphicon glyphicon-minus': listStatus.rate}"></i>
					  						Rates:
					        </accordion-heading>
							        <div class="static-content">
							        	<ul>
											<li>
												<b>Standard listing:</b>
												<ul>
													<li>
														FREE
													</li>
												</ul> 
											</li>
											<li>
												<b>Add-ONLY:</b>
												<ul>
													<li>
														$25 +GST per week <br/>
													
														Optional: in the event that a standard listing is published to CPx with a pre-purchased ipr and 
														grade report; ie, the ipr and grade report where not purchased directly from CPx. To display the 
														ipr and grade report, $25 per week +GST applies. 
													</li>
												</ul> 
											</li>
											<li>
												<b>Graded listing:</b>
												<ul>
													<li>
														$550 (inclusive of GST) per property to list on CPx, includes the ipr/ grade
													</li>
													<li>
														term 3 months
													</li>
												</ul> 
											</li>
											<li>
												<b>Featured listing*: </b>
												<ul>
													<li>
														$1,000 (inclusive of GST) per property per week to list on CPx homepage; does not include the ipr/ grade
													</li>
													<li>
														term 1 week
													</li>
												</ul> 
											</li>
											<li style="list-style-type:none">
												*CPx only has featured 3 spots per week. 
											</li>
										</ul>
							        </div>
					   </accordion-group> 
				  </accordion>
			</div>
			<div class="cpxend">&nbsp;</div>
			<div class="col-sm-12 nopadding ofraccordian">
					<accordion class="static-accordian">
					    <accordion-group is-open="listStatus.offer">
					        <accordion-heading >
					  						<i class="pull-left glyphicon"  ng-class="{'glyphicon glyphicon-plus':  !listStatus.offer, 'glyphicon glyphicon-minus': listStatus.offer}"></i>
					  						Offers:
					        </accordion-heading>
							        <div class="static-content">
							        	Sales offer Nov - Dec 2015 and Jan 2016
							        	<p>Offer 1: Advertise Graded listing get 10% discount; save $55</p>
							        	<p>Offer 2: Advertise Graded listings and if not sold within 3 months get new ipr with 20% discount; save $110</p>
							        	<p>Offer 3: Advertise 4 or more Graded listings get 1 free 'Featured listing' for 1 week, saving $1,000</p>
							        </div>
					   </accordion-group> 
				  </accordion>
			</div>
			<div class="cpxend">&nbsp;</div>