<div class="static-content">
	<p>CentralPropertyExchange.com.au [CPx] created Australia&#39;s first independent buyer focused real estate advertising 
	website to help individuals bypass the incentive induced rhetoric of agents and the limitations of the financial 
	services industry*.</p> 
	<p>*There are over 100,000 financial professionals in Australia representing millions of clients making 
	CPx an ideal partner to the financial services industry.</p>
	<p>The main points of comparison between CPx and Realestate.com.au, Domain.com.au, etc. </p>
<ul>
	<li>
		<p><b>CPx cuts out the marketing hype</b> by presenting the property facts.  </p>
	</li>
	<li>
		<p>All CPx listed properties are independently reviewed and graded by JLL. 
		This 6 page report is called an <b>Independent Property Review</b> (ipr). </p>
	</li>
	<li>
		<p><b>Forget the stress of negotiations</b> with an exclusive CPx price.</p>
	</li>
	<li>
		<p><b>Save time and streamline finance approval. </b>Search properties nationally based upon your borrowing 
		capacity, available cash-deposit or desired monthly repayments, in any currency. </p>
	</li>
</ul>
<p><b>Collaboration benefits</b> for Listing Affiliates (LA) and CPx</p>
<ul style="list-style-type: disc;">
	<li>
		<p>LA continues to upload and earn revenue from publishing to mainstream sites as CPx business model does not 
		compete because it does not allow for properties to be advertised in the same generic manner.  <b>CPx advertisements 
		are only shown on CPx.</b></p>
		
	</li>
	<li>
		<p><b>LA can extend its advertising reach to the CPx target audience;</b> financial services industry 
		(includes banks, mortgage brokers, etc.) and direct buyers.  </p>
	</li>
	<li>
		<p><b>LA earns additional passive revenue </b>through advertising on CPx.</p>
	</li>
	<li>
		<p><b>CPx benefits by having vendor listed properties appear on CPx.</b> This type of listing fits within the CPx business model. </p>
	</li>
	<li>
		Free PropertyCompass<sup>&reg;</sup> login, giving access to investment reports and sales tracking
	</li>	
	
</ul>

<p><b>Summary </b></p>
<ul style="list-style-type: disc;">
	<li>
		<p>Only residential properties for sale; sales statuses of &lsquo;Under offer&rsquo; and &lsquo;Sold&rsquo; will also be displayed. </p>
		
	</li>
	<li>
		<p>CPx does not publish rental or commercial properties.</p>
	</li>
	<li>
		<p>Preferred data format; REAXML.</p>
	</li>
	<li>
		Push listings to CPx via:
		<ul>
		<li>PropertyCompass.com.au bulk-uploader or</li>
		<li><p>Your existing platform. Please contact us if you want your current bulk-uploader to include 
		CentralPropertyExchnage.com.au </p></li>
		</ul>
	</li>
	<li>
		<p>CPx can pull listings via FTP or REAXML format. </p>
	</li>	
	<li>
		<p>If a property is already listed on CPx the LA supplied property will not be listed. </p>
	</li>	
	
</ul>


<p><b>Ideal for these businesses </b></p>
<ul style="list-style-type: disc;">
	<li>
		<p>Advertising websites</p>
		
	</li>
	<li>
		<p>Real Estate Franchise groups</p>
	</li>
	<li>
		<p>Vendor direct advertising websites</p>
	</li>
	<li>
		<p>Developers (mid-tier to large)</p>
	</li>
	<p>With 50 or more residential properties for sale per year</p>
</ul>	

<p><b>NOT suitable for</b></p>
<ul style="list-style-type: disc;">
	<li>
		<p>For vendors/ property owners/ developers/ small business 
		operators; with total listings of less than 24 properties for sale per year</p>
		
	</li>
</ul>

<p><b>Revenue share</b></p>
<p><a href="#!/contact " style="text-decoration:underline;">Contact us</a> for revenue share and or volume discounts details</p>
</div>