<header2></header2>
<div class="container-fluid cpxpage">
	<div class="row">
		<div class="col-sm-12 col-xs-12 cpxbg" align="left">
			<h1 class="fronthead container" >List your property on CPx</h1>
		</div>
	</div>
</div>
<div class="cpxcontents">
	<div class="row">
		<div class="col-sm-8">
			<div class="col-sm-8">
				<h3 style="text-align:center">Please create an account or login</h3>	
				<div class="col-sm-5">
					<h4>Create an account</h4>
					<form>
						  <div class="form-group">
						    <label for="exampleInputEmail1">Email address</label>
						    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
						  </div>
						  <div class="form-group">
						    <label for="exampleInputPassword1">Password</label>
						    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						  </div>
	  						<div class="clearout"></div>
	  						<div class="clearout"></div>
						  <button type="submit" class="btn btn-lg">Submit</button>
					</form>
				</div>
				<div class="col-sm-2">
				<div style=""></div>
				</div>
				<div class="col-sm-5">							
					<h4>Login to your account</h4>
					<form>
						  <div class="form-group">
						    <label for="exampleInputEmail1">Email address</label>
						    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
						  </div>
						  <div class="form-group">
						    <label for="exampleInputPassword1">Password</label>
						    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						  </div>
	  					   <div class="checkbox">
						    <label>
						      <input type="checkbox"> Remember Me
						    </label>
						  </div>
						  <button type="submit" class="btn btn-lg">Submit</button>
					</form>			
				</div>
			</div>
			<div class="col-sm-4">
			
			</div>
		</div>
		<div class="col-sm-4">
			
		</div>
	</div>>
</div>