<div class="col-sm-12 col-xs-12" style="padding-left:0px;padding-right:0px;">
			 
	<flex-carousel>
        

    <ul id="flexisel" >
    
                <li><a href="http://www.jll.com.au/australia/en-au/services/investors-developers/valuations-and-advisory/mortgage-services" target="_blank"><img src="images/jll.png" /></a></li>
				<li><a href="http://www.bis.com.au/" target="_blank"><img src="images/BSlogo.jpg" /></a></li>
							
				<li><a href="http://www.emafinance.com.au/" target="_blank"><img src="images/finance.png" /></a></li>
				<li><div class="endorsed_text"><a href="http://www.centralpropertyexchange.com.au/#!/about/what-is-cpx" target="_blank"><i>CPx is the ideal property platform for the financial services industry.</i></a> </div></li> 		
			    
			    <li><a href="http://www.amplanners.com.au/" target="_blank" ><img src="images/amp-sd-logo.png" /></a></li>
			    <li><a href="https://confidis.com.au/ " target="_blank"><img  src="images/Confidis-platform-logo.png" /></a></li>
			    
                
                
                <li><div class="endorsed_text"><a href="http://www.centralpropertyexchange.com.au/#!/about/what-is-cpx" target="_blank"><i>Buyers can save $6,000 to $30,000 off the for-sale-price</i></a></div></li> 
			    <li style="padding-top:15px;"><a href="http://www.domacom.com.au/" target="_blank"><img src="images/domacom-logo.png"/></a></li>
			    <li style="padding-top:17px;"><a href="http://www.propertycompass.com.au/" target="_blank"><img src="images/property-compass.png" /></a></li>
			    <li><a href="http://www.villaworld.com.au/ " target="_blank" ><img src="images/VW-logo.png" /></a></li>
			    <li style="  padding-top: 7px;"><a href="http://www.mcpgroup.com.au/" target="_blank" ><img src="images/mcp_logo.gif" /></a></li>
			    <li style="  padding-top: 10px;"><a href="http://www.businessaccounting.com.au/" target="_blank"><img  src="images/bba_logo.png" /></a></li>
			  
              
                 <li><a href="http://www.wickhamrealtygroup.com/" target="_blank" ><img src="images/11389lg.png" /></a></li>
			     <li><a href="http://investinproperty.id.au/ " target="_blank"><img  style="max-width: 250px;padding-top: 3px;padding-right:50px;" src="images/ProperT-Banner-728x137.png" /></a></li>
			     <li><div class="endorsed_text" style="padding-top: 6px;"><a href="https://www.linkedin.com/profile/view?id=1806913&trk=hp-identity-name" target="_blank"><i>Patrick J. McMenamin<br/>Financial Advisor Specialising In Tax Effective Strategies Australia-wide </i></a> </div></li> 		
			     <li><a href="http://afinplan.com.au/" target="_blank" ><img style="  max-width: 200px;padding-top: 3px;" src="images/afplanning.png" /></a></li>
			 
			     <li><div class="endorsed_text" style="padding-top: 6px;" ><a href="http://www.centralpropertyexchange.com.au/#!/about/what-is-graded" target="_blank"><i>The CPx grade works like a hotel star rating. It provides the disclosure buyers need to find the right property</i></a> </div></li> 					 
				 <li><a href=" http://www.betterchoice.com.au/ " target="_blank" ><img src="images/bchl-logo.png" /></a></li>
			     
                 <li><a href="http://www.terryloftusrealestate.com.au/" target="_blank"><img  src="images/terrylotusre-logo.png" /></a></li>  
      
    </ul>

  </flex-carousel>
</div>			    
  