<header2></header2>
			<div class="container">
				<div class="row orderpage orderbtn">
					<div class="col-sm-4 col-xs-12 firstcol">
						<div class="ordersbutton">
						<!--  		<button type="button" class="btn btn-default btn-lg btn-block">FREE - Population and capital growth</button> -->
						</div>
					</div>
					<!-- <div class="col-sm-4 col-xs-12 centercol">
						<div class="ordersbutton">
								<button type="button" class="btn btn-default btn-lg btn-block">Open an account</button>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12 lastcol">
						<div class="ordersbutton">
								<button type="button" class="btn btn-default btn-lg btn-block">Login</button>
						</div>
					</div> -->
				</div>
			
				<div class="row orderpage">
						<div class="col-sm-4 col-xs-12 firstcol">
							<div class="col-sm-12 col-xs-12 panelheading iprpanel">
								<div class="col-sm-5 col-xs-6 ">
									<img src="images/reporticon.png" class="thumbnail img-responsive " alt="reporticon.png">
								</div>
								<div class="col-sm-7 col-xs-6 frontheading">
									<div class="col-sm-12 col-xs-12 headcontent">Independent</div>
									<div class="col-sm-12 col-xs-12 headcontent">Property</div>
									<div class="col-sm-12 col-xs-12 headcontent">Review (ipr)</div>
								</div>
							</div>
							<div align="center" class="col-sm-12 col-xs-12 iprorderlink">
								<a href="https://app.propertycompass.com.au/login" target="_blank">ORDER REPORT</a>
							</div>
							
							<div class="iprlink"><a href="http://www.propertycompass.com.au/ipr/" target="_blank"><i class="pull-left link-icon fa fa-link"></i>
 													 <span class="detaillink">Details</span></a></div>
														 <!--  <div class="col-sm-12 nopadding">
							  	ipr content here
							  </div> -->
							  <div class="col-sm-12 endipr">&nbsp;</div>
							  
							  
							  
							  <div class="col-sm-12 col-xs-12 panelheading propvalpanel">
									<div class="col-sm-5 col-xs-6 ">
										<img src="images/reporticonred.png" class="thumbnail img-responsive " alt="reporticonred.png">
									</div>
									<div class="col-sm-7 col-xs-6 frontheading">
										<div class="col-sm-12 col-xs-12 headcontent">Property</div>
										<div class="col-sm-12 col-xs-12 headcontent">Valuation</div>
										<div class="col-sm-12 col-xs-12 headcontent">&nbsp;</div>
									</div>
							</div>
							<div align="center" class="col-sm-12 col-xs-12 propvalorderlink">
								<a href="http://www.jll.com.au/australia/en-au/services/investors-developers/valuations-and-advisory/mortgage-services" target="_blank" title="ORDER REPORT">ORDER REPORT</a>
							</div>
								<accordion class="static-accordian">
								    <accordion-group is-open="toggleStatus.propval">
								        <accordion-heading >
								  						<i class="pull-left glyphicon"  ng-class="{'glyphicon glyphicon-plus':  !toggleStatus.propval, 'glyphicon glyphicon-minus': toggleStatus.propval}"></i>
								  						Details
								        </accordion-heading>
								         				
								         		<div class="static-content">
								         		
								         		<p>This link is <b>sponsored</b> and serviced directly by: JLL</p>
								         				     
								         		<p style="text-align: center;"><a href="http://www.jll.com.au/australia/en-au/services/investors-developers/valuations-and-advisory/mortgage-services" target="_blank" title="jll.com.au/australia/en-au/services/investors-developers/valuations-and-advisory/mortgage-services"><img src="images/jll.png" alt="JLL.png" style="width: 177px; height: 63px;"></a></p>		     
								         				     
								         		<p>CPx does not charge a Referral Fee to industry professionals, but does charge a flat monthly Sponsorship Fee.</p>
								         		
								         		<p>CPx does not share in commissions or referral fees, nor does CPx introduce sellers or buyers to industry professionals.  CPx provides a marketplace that enables sellers, buyers and industry professionals to freely connect.  For that reason, CPx does not charge a referral fee when a seller or buyer chooses the services of an industry professional found through the CPx website.</p>
								         		
								         		<p class="bluelink">Please see <a href="#!/industry/working-with-cpx" target="_blank" title="Working with CPx">&#145Working with CPx&#146</a> for details on applicable charges to list as an industry professional.</p>
								         		
								         		<p><b>Agreements:</b> Please ensure appropriate agreements covering the scope of service are established between yourself and industry professionals.</p>
								         				   
												
									        </div>
								         				
								         				
								                       		
								      				
								  </accordion-group> 
								</accordion>
							  <div class="col-sm-12 endpropval">&nbsp;</div>
							  
							  
							<!-- MARKET REASEARCH -->  
							  
							<div class="col-sm-12 col-xs-12 panelheading marketreasearchpanel">
									<div class="col-sm-5 col-xs-6 ">
										<img src="images/VectorSmart.png" class="thumbnail img-responsive " alt="reporticonred.png" style="height: auto">
									</div>
									<div class="col-sm-7 col-xs-6 frontheading">
										<div class="col-sm-12 col-xs-12 headcontent">Market</div>
										<div class="col-sm-12 col-xs-12 headcontent">Research</div>
										<div class="col-sm-12 col-xs-12 headcontent">&nbsp;</div>
									</div>
							</div>
							<div align="center" class="col-sm-12 col-xs-12 marketreasearchorderlink">
								<a href="http://www.bis.com.au/" target="_blank" title="ENQUIRE">ENQUIRE</a>
							</div>
								<accordion class="static-accordian">
								    <accordion-group is-open="toggleStatus.propval">
								        <accordion-heading >
								  						<i class="pull-left glyphicon"  ng-class="{'glyphicon glyphicon-plus':  !toggleStatus.propval, 'glyphicon glyphicon-minus': toggleStatus.propval}"></i>
								  						Details
								        </accordion-heading>
								         				
								         		<div class="static-content">
								         		
								         		<p>This link is <b>sponsored</b> and serviced directly by: BIS Shrapnel</p>
								         				     
								         		<p style="text-align: center;"><a href="http://www.bis.com.au/" target="_blank" title="bis.com.au"><img src="images/bisShrapnel.jpg" alt="bisShrapnel.jpg"></a></p>		     
								         				     
								         		<p>CPx does not charge a Referral Fee to industry professionals, but does charge a flat monthly Sponsorship Fee.</p>
								         		
								         		<p>CPx does not share in commissions or referral fees, nor does CPx introduce sellers or buyers to industry professionals.  CPx provides a marketplace that enables sellers, buyers and industry professionals to freely connect.  For that reason, CPx does not charge a referral fee when a seller or buyer chooses the services of an industry professional found through the CPx website.</p>
								         		
								         		<p class="bluelink">Please see <a href="#!/industry/working-with-cpx" target="_blank" title="Working with CPx">&#145Working with CPx&#146</a> for details on applicable charges to list as an industry professional.</p>
								         		
								         		<p><b>Agreements:</b> Please ensure appropriate agreements covering the scope of service are established between yourself and industry professionals.</p>
								         				   
												
									        </div>
								         				
								         				
								                       		
								      				
								  </accordion-group> 
								</accordion>
							  <div class="col-sm-12 endpropval">&nbsp;</div>
							  
							  
							  
						</div>
						
						
						
						
						
						
						<div class="col-sm-4 col-xs-12 centercol">
							<div class="col-sm-12 col-xs-12 panelheading irepanel">
								<div class="col-sm-5 col-xs-6 ">
									<img src="images/reporticonsingle.png" class="thumbnail img-responsive " alt="reporticonsingle.png">
								</div>
								<div class="col-sm-7 col-xs-6 frontheading">
									<div class="col-sm-12 col-xs-12 headcontent">Independent</div>
									<div class="col-sm-12 col-xs-12 headcontent">Rental</div>
									<div class="col-sm-12 col-xs-12 headcontent">Estimate</div>
								</div>
							</div>
							
							<div class="row nomargin">
							<div align="center" class="col-sm-6 col-xs-6 ireorderlink irefree">
								<a href="#">FREE ESTIMATE</a>
							</div>
							<div align="center" class="col-sm-6 col-xs-6 ireorderlink irebuynow">
								<a href="#">BUY NOW</a>
							</div>
							</div>
							
							
							<accordion class="static-accordian">
								    <accordion-group is-open="toggleStatus.ire" class="margtop11px">
								        <accordion-heading >
								  						<i class="pull-left glyphicon"  ng-class="{'glyphicon glyphicon-plus':  !toggleStatus.ire, 'glyphicon glyphicon-minus': toggleStatus.ire}"></i>
								  						Details
								        </accordion-heading>
								        	<div class="static-content">
								        		<p class="bluelink">This single page estimate is provided by <a href="http://PropertyCompass.com.au/" target="_blank" title="PropertyCompass.com.au">PropertyCompass.com.au</a> in collaboration with <a href="http://Rent.com.au/" target="_blank" title="Rent.com.au">Rent.com.au</a></p>
								        		<p>
								        			This estimate is created using an auto-generated process tabling data on currently advertised rental properties, only. Hence this estimate may vary on a daily basis. 
													The estimate is provided on residential properties within a suburb or city.
								        		</p>
								        		
								        		<p>
								        			<a href="#" class="top-link" target="_blank">Click here to view sample</a>
								        		</p>


								        			<b>Fees</b>
								        		
								        		<p>
									        		$5 +GST per suburb/ city 
													~indicative pricing, may be altered when officially released.
												</p>
												
												<p><b>No refunds</b></p>
												

												<b>Delivery</b>

												
												<p>
													This is a system auto-generated report.
													This report will be generated after receipt of payment.
												</p>

												<b>Overseas buyers</b>

												<p>
													Do not pay the GST portion. If you are an overseas client, please ensure to <a href="#" class="top-link" target="_blank">open an account</a> (declaring your address) 
													with us so that the GST portion is not charged
												</p>
								        	</div>
								  </accordion-group> 
							</accordion>
							<div class="col-sm-12 col-xs-12 endire">&nbsp;</div>
							
							
							
							<div class="col-sm-12 col-xs-12 panelheading deprptpanel">
								<div class="col-sm-5 col-xs-6 ">
									<img src="images/REPORTICONORANGE.png" class="thumbnail img-responsive " alt="REPORTICONORANGE.png">
								</div>
								<div class="col-sm-7 col-xs-6 frontheading">
									<div class="col-sm-12 col-xs-12 headcontent">Depreciation</div>
									<div class="col-sm-12 col-xs-12 headcontent">Report</div>
									<div class="col-sm-12 col-xs-12 headcontent">&nbsp;</div>
								</div>
							</div>
							
							<div class="row nomargin">
								<div align="center" class="col-sm-6 col-xs-6 deprptorderlink irefree">
								<a href="https://www.washingtonbrown.com.au/depreciation/calculator/?RID=FDHUEWKEUF" target="_blank" title="FREE ESTIMATE">FREE ESTIMATE</a>
							</div>
							<div align="center" class="col-sm-6 col-xs-6 deprptorderlink irebuynow">
								<a href="https://www.washingtonbrown.com.au/depreciation/quote/?RID=FDHUEWKEUF" target="_blank" title="ORDER REPORT">ORDER REPORT</a>
							</div>
							</div>
							
							<accordion class="static-accordian">
								    <accordion-group is-open="toggleStatus.deprpt" class="margtop11px">
								        <accordion-heading >
								  						<i class="pull-left glyphicon"  ng-class="{'glyphicon glyphicon-plus':  !toggleStatus.deprpt, 'glyphicon glyphicon-minus': toggleStatus.deprpt}"></i>
								  						Details
								        </accordion-heading>
								         				
								         				
								        <div class="static-content">
								         		
								         		<p>These links are <b>sponsored</b> and serviced directly by: Washington Brown</p>
								         				     
								         		<p style="text-align: center;"><a href="http://www.washingtonbrown.com.au/" target="_blank" title="http://www.washingtonbrown.com.au/"><img src="images/washingtonbrown.png" alt="washingtonbrown.png"></a></p>		     
								         				     
								         		<p>CPx does not charge a Referral Fee to industry professionals, but does charge a flat monthly Sponsorship Fee.</p>
								         		
								         		<p>CPx does not share in commissions or referral fees, nor does CPx introduce sellers or buyers to industry professionals.  CPx provides a marketplace that enables sellers, buyers and industry professionals to freely connect.  For that reason, CPx does not charge a referral fee when a seller or buyer chooses the services of an industry professional found through the CPx website.</p>
								         		
								         		<p class="bluelink">Please see <a href="#!/industry/working-with-cpx" target="_blank" title="Working with CPx">&#145Working with CPx&#146</a> for details on applicable charges to list as an industry professional.</p>
								         		
								         		<p><b>Agreements:</b> Please ensure appropriate agreements covering the scope of service are established between yourself and industry professionals.</p>
								         				    
									        	
									        	
									        </div> 				
								         				
								         				
								         				
								         				
								         				
								         				
								  </accordion-group> 
							</accordion>
							<div class="col-sm-12 col-xs-12  endire">&nbsp;</div>
							
							
							
							
							
						</div>
						
						
						
						
						<div class="col-sm-4 col-xs-12 lastcol">
							<div class="col-sm-12 col-xs-12 panelheading icspanel">
								<div class="col-sm-5 col-xs-6 ">
									<img src="images/reporticonblack1.png" class="thumbnail img-responsive " alt="reporticonblack1.png">
								</div>
								<div class="col-sm-7 col-xs-6 frontheading">
									<div class="col-sm-12 col-xs-12 headcontent">Independent</div>
									<div class="col-sm-12 col-xs-12 headcontent">Contract</div>
									<div class="col-sm-12 col-xs-12 headcontent">Summary</div>
								</div>
							</div>
							<div align="center" class="col-sm-12 col-xs-12 icsorderlink">
								<a href="#">ORDER REPORT</a>
							</div>
							<accordion class="static-accordian">
								    <accordion-group is-open="toggleStatus.ics">
								        <accordion-heading >
								  						<i class="pull-left glyphicon"  ng-class="{'glyphicon glyphicon-plus':  !toggleStatus.ics, 'glyphicon glyphicon-minus': toggleStatus.ics}"></i>
								  						Details
								        </accordion-heading>
								         				<div class="static-content">
											        		<p>This multipage summary is provided by via a network of Solicitors / Property Conveyancers across Australia. Summarising terms pertinent from a buyer's perspective. This summary can be provided on residential property contracts.</p>

											        		
											        		<p>
											        			<a href="#" class="top-link" target="_blank">Click here to view sample</a>
											        		</p>
											        		

											        			<b>Fees</b>
											        		
											        		<p>
												        		$250 +GST per contract

																, plus $1 per page above 250 pages.

															</p>
															
															<p><b>No refunds</b></p>
															

															<b>Estimated delivery</b>

															
															<p>
																This is a custom report, not a system auto-generated report.
																Please allow 3 - 10 days for delivery.
															</p>

															<b>Overseas buyers</b>

															<p>
																Do not pay the GST portion. If you are an overseas client, please ensure to <a href="#" class="top-link" target="_blank">open an account</a> (declaring your address) 
																with us so that the GST portion is not charged
															</p>
											        	</div>
								  </accordion-group> 
							</accordion>
							<!-- <div class="col-sm-12 col-xs-12  nopadding">
							  	ics content here
							  </div> -->
							<div class="col-sm-12 col-xs-12  endics">&nbsp;</div>
							
							
							<div class="col-sm-12 col-xs-12 panelheading populationpanel">
								<div class="col-sm-5 col-xs-6 ">
									<img src="images/clipboard.png" class="thumbnail img-responsive " alt="clipboard.png">
								</div>
								<div class="col-sm-7 col-xs-6 frontheading">
									<div class="col-sm-12 col-xs-12 headcontent">Population</div>
									<div class="col-sm-12 col-xs-12 headcontent">and Capital</div>
									<div class="col-sm-12 col-xs-12 headcontent">Growth</div>
								</div>
							</div>
							
							<div align="center" class="col-sm-12 col-xs-12 populationlink">
								<a href="https://app.propertycompass.com.au/login " target="_blank">FREE SUMMARY</a>
							</div>
							
							<div class="iprlink"><a href="http://www.propertycompass.com.au/updates/propertycompass-launches-free-research/" target="_blank"><i class="pull-left link-icon fa fa-link"></i>
							  						<span class="detaillink">Details</span></a></div>
						<!--  <div class="col-sm-12 nopadding">
							  	ipr content here
							  </div> -->
							  							
							
<!-- 							<accordion class="static-accordian">
								    <accordion-group is-open="toggleStatus.popugrowth">
								        <accordion-heading >
								  						<i class="pull-left glyphicon fa fa-link"  ng-class="{'glyphicon glyphicon-plus':  !toggleStatus.popugrowth, 'glyphicon glyphicon-minus': toggleStatus.popugrowth}"></i>
								  						Details
								        </accordion-heading>
								   
								    <div class="static-content">
								         		
								         		<p>This link is <b>sponsored</b> and serviced directly by: PropertyCompass&#174</p>
								         				     
								         		<p style="text-align: center;"><a href="http://www.propertycompass.com.au/" target="_blank" title="http://www.propertycompass.com.au/"><img src="images/PropertyCompass.jpg" alt="PropertyCompass.jpg"></a></p>		     
								         				     
								         		<p>CPx does not charge a Referral Fee to industry professionals, but does charge a flat monthly Sponsorship Fee.</p>
								         		
								         		<p>CPx does not share in commissions or referral fees, nor does CPx introduce sellers or buyers to industry professionals.  CPx provides a marketplace that enables sellers, buyers and industry professionals to freely connect.  For that reason, CPx does not charge a referral fee when a seller or buyer chooses the services of an industry professional found through the CPx website.</p>
								         		
								         		<p class="bluelink">Please see <a href="#!/industry/working-with-cpx" target="_blank" title="Working with CPx">&#145Working with CPx&#146</a> for details on applicable charges to list as an industry professional.</p>
								         		
								         		<p><b>Agreements:</b> Please ensure appropriate agreements covering the scope of service are established between yourself and industry professionals.</p>
								         				     
									        	
									        </div> 	
								   
								   
								  </accordion-group> 
							</accordion> -->
							<div class="col-sm-12 col-xs-12  endire">&nbsp;</div>
							
						</div>
				</div>
			</div>