 
       
           
       <div class="header-bar"><h2>PRESS RELEASES</h2></div>
       
       <p class="pagedate">7 Jan 2015</p>
       
       <p class="presspageheader">CPx Launch</p>
       
       <p class="subtitle">Buy And Sell Property For Less With CPx</p>
       
       					<p>
         				Traditional high sales commissions and advertising fees can now be eliminated when buying and selling property with CPx.  An innovative online real estate website, centralpropertyexchange.com.au or CPx, enables the user to cut out the middle-man by dealing direct with the buyer or seller effectively saving thousands of dollars in unnecessary fees and charges.  Founded by property expert, Anthony Aoun, CPx is a business concept he has been carefully developing over the past 10 years.
         				</p>
         				<p>
         				&#147The conventional real estate marketplace has now changed to an online marketplace.&#148, said Mr Aoun.  CPx is a meeting place for private, commercial and professionals looking to buy and sell property.  With key controls in place such as Independent Property Reports (IPR) to grade listed properties for fair comparison, and qualifying professional credentials of service providers who choose to list themselves on the site, CPx aims for an honest open approach for all site users.
         				</p>
         				<p>Currently in its launch phase, CPx is growing its property gallery with a limited time incentive of 10% off the regular $550 property listing price.  This is the only fee required to list a property with the site.  There are no further advertising fees, referral fees or commissions to pay when listing and selling a property through CPx.  Independent agents and other professionals may list their services, and be employed by site users to assist in buying or selling, however, these relationships are negotiated separately outside of the site with fees agreed at their discretion.</p>
         				<p>
         				&#147CPx is a real estate industry first.  With the increasing move to online transactions, it makes sense that searching for and buying property online is a natural and easy progression. The main difference is, it is up to the buyer or seller to choose whether or not they include a third party professional.&#147, states Mr Aoun.    Once firmly established in Australia, the CPx business model is envisaged to expand to include other countries.
         				</p>
         				
 
       
        <br>     
       <p class="blogborder"></p>
       
       <p class="subtitle2">Send via email | Email subject:</p>
       
       <p>PRESS RELEASE: New property website hailed as the future of the real estate industry.</p>
       
       
