
      
       
       <div class="header-bar"><h2>PRESS RELEASES</h2></div>
       
       <p class="pagedate">6 Mar 2015</p>
       
       <p class="presspageheader">Financial Services</p>
       
       <p class="subtitle">Finance Professionals Benefit With CPx</p>
       
      					<p>
						The real estate trade has now changed, with the introduction of a new way to source properties for clients and investors at <a href="http://centralpropertyexchange.com.au/" target="_blank">centralpropertyexchange.com.au</a> (CPx).  This real estate website is the innovation of property expert, Anthony Aoun, who says, &#147CPx evolves the traditional property marketplace by dealing direct with the vendor or buyer, efficiently saving thousands of dollars in fees and charges&#148.          				</p>
         				<p>
         				CPx offers free membership to industry professionals such as financial planners, mortgage brokers, accountants and other client representatives.  These professionals can also apply to be listed as an Independent Professional on the site where customers can choose to use their services.   Once a professional's industry qualifications are verified, they are listed as a service provider for referral.
         				</p>
         				<p>
         				CPx charges no fee for referrals, and services fees are negotiated directly between the customer and the provider outside of the site, effectively making CPx a new source for business.  Customers also review service providers and in so doing, rank professionals on their services through site feedback.  This helps to ensure only quality service providers are referred to customers and are associated with the site.
         				</p>
         				<p>
                        Commercial builders, investors and independent vendors can use the CPx site to list their properties off the plan, to turn-key investments or to simply sell their property.  All properties listed require a mandatory Independent Property Review (ipr) which provides a property grade, score and commentary for buyer's and seller's reference.  &#147At CPx we bring transparency to the real estate trade process.&#148, said Mr Aoun.
                        </p>
      
       <br>
       <p class="blogborder"></p>
       
       <p class="subtitle2">Send via email | Email subject:</p>
       
       <p>PRESS RELEASE: New property website expands financial services opportunities.</p>
      
       
     
       
  