       
      
       
       <div class="header-bar"><h2>PRESS RELEASES</h2></div>
       
       <p class="pagedate">20 Jan 2015</p>
       
       <p class="presspageheader">Residential Builders and Developers</p>
       
       <p class="subtitle">List your properties with CPx and reap the rewards</p>
       
       <p>Builders and developers now have access to a new way to sell their properties and increase their overall profits. By listing with centralpropertyexchange.com.au (CPx), vendor's can take control and bypass the traditional real estate agency or agent method by dealing direct with the buyer and eliminating fixed sales commissions.</p>
       
       <p>All properties listed on the CPx site are required to have a mandatory Independent Property Report (IPR). This is obtained through an external provider and determines a graded property guide for current market positioning. "The CPx process is remarkably simple", said CPx founder, Anthony Aoun. Properties can be listed on the site for a $550 fee (inc GST) with the vendor choosing how their sale is handled.</p>
       
       <p>This new property selling process in effect, cuts out the middle-man. The seller deals direct with the buyer, or the seller can appoint their own independent professional to handle the sale for them. CPx has a list of qualified independent professionals to choose from with fees negotiated outside of the site between the two parties. Sellers are also free to use their own trusted professional.</p>
       
       <p>The CPx site is designed to make the selling transaction simple, fair and transparent for all parties involved. The vendor can list their property at the price they choose. The IPR acts as a market guide and the seller and buyer (or their agents) then negotiate directly on the sale price. This process removes second-hand communications and therefore ensures clarity and speed in the transaction.</p>
       
       <p>Mr Aoun is excited to be at the helm of CPx and describes the innovative online business as, "the future of real estate trading". He goes on to say, "Everyone's a winner with CPx". Buyers and sellers will save thousands of dollars on needless advertising and sales commission fees. Agents can also participate by registering to act as an independent professional on the site, and so creating their own business.</p>
       
       <br>
       <p class="blogborder"></p>
       
       <p class="subtitle2">Send via email | Email subject:</p>
       
       <p>PRESS RELEASE: New property website adds thousands to your profits.</p>
      
       
     
       
  