
      
       
       <div class="header-bar"><h2>PRESS RELEASES</h2></div>
       
       <p class="pagedate">20 Mar 2015</p>
       
       <p class="presspageheader">Fractional Property Investing</p>
       
       <p class="subtitle">DomaCom collaborates with CentralPropertyExchange.com.au</p>
       
      					<p>
         				World first regulated fractional property fund DomaCom has announced its support for <a href="http://centralpropertyexchange.com.au/" target="_blank">centralpropertyexchange.com.au</a> (CPx), a ground breaking new property listing portal that allows investors to access property without the middleman.			
           				</p>
         				<p>
						According to General Manager, Sales and Marketing of DomaCom Warren Gibson, CPx provides a better way to access and invest in Australian properties.
         				</p>
         				<p>
						&#147It is the perfect collaboration. DomaCom fractional property fund allows thousands more people in Australia to invest in property without the need to purchase an entire property, and CPx provides access to independently listed properties, saving buyers thousands of dollars in added fees and charges.&#148 Said Mr Gibson.
         				</p>
         				<p>
						He continues, &#147CPx is an Australian first, and it is ideal for our financial services professionals and their clients to buy or sell properties directly.  With key controls in place like Independent Property Reports (IPR) to grade listed properties, both buyers and sellers get fair and independent representation.&#148		
                        </p>
                        
                        <p>
                        The CPx platform can now be accessed directly from the DomaCom website (<a href="http://www.domacom.com.au/" target="_blank">http://www.domacom.com.au/</a>). 
                        </p>
                        
                        <p><b>About DomaCom</b></br>
                        DomaCom Australia Limited ACN 153 951 770 launched Australia&#146s first online fund to provide a property investment solution for the SMSF market and other long term investors through the fractional acquisition of units in a unique trust structure that enables investors to choose the property they want. Residential and commercial property Australia wide will be available in this fund from vendors and developers.
                        </p>
                        
                        <p>DomaCom intend to extend the technology to provide an equity release solution for senior Australians to access much needed capital whilst affording the next generation an opportunity for income and capital growth. This elegant solution will match the time horizons of retirees with those of SMSF trustees who want an allocation to property of their choice in locations of their choice.</p>
                        
      
       <br>
       <p class="blogborder"></p>
       
       <p class="subtitle2">Send via email | Email subject:</p>
       
       <p>PRESS RELEASE: DomaCom collaborates with CentralPropertyExchange.com.au</p>
      
       
     
       
  