 <div class="header-bar"><h2>PRESS RELEASES</h2></div>
       
       <p class="pagedate">21 Dec 2015</p>
       
       <p class="presspageheader">Amended Act: Under Quoting Loopholes Get Plugged In New &lsquo;&lsquo;Property Stock and Business Agents&rsquo;&rsquo; Act.</p>
       
         				<p>Until now, buyers and sellers have been steered by real estate agent guesstimates on the market worth of a property. 
         				This unquantifiable pricing strategy has left the opportunity open for agents to under-quote a property&#39;s price to 
         				attract more buyers.  </p>
         				
         				<p>This opportunity has now been closed with Bill amendments to the Property, Stock and Business Agents Act that 
         				were passed through parliament on the 22 October 2015.  The main intent of the Act amendments is to prohibit 
         				under-quoting by agents and to introduce harsher penalties that will be enforced by The Department of Fair 
         				Trading in an effort to deter deceptive real estate sales practices. </p>
         				
						<p>Victor Dominello, Minister for Innovation and Better Regulations, states the amendments to the Act have been made 
						to protect buyers and sellers against &lsquo;&lsquo;grossly unfair and unethical practice&rsquo;&rsquo; and that buyers and sellers deserve 
						disclosure that &lsquo;&lsquo;better reflects community expectations&rsquo;&rsquo;.  </p>
         				
         				<p>Agents will need to provide sellers with evidence of the reasonableness of their estimated selling price. Agents 
         				will also no longer be able to lure potential buyers by listing properties with the words &lsquo;&lsquo;Offers Above&rsquo;&rsquo; 
         				or similar.The reforms include penalties of up to $22,000, plus forfeiture of any commission or fees from an unethical sale.</p>
                        
                       	<p>CPx listed properties are independently reviewed and graded by JLL. 
                       	An Independent Property Review (ipr) which includes a grade is a 6 page unbiased quantifiable report. 
                       	The ipr and grade report creates a fair meeting ground for negotiations and a win for both buyers and sellers. </p>
                        
       					<p>The transparency provided by the apples to apples property report provides the clarity to property buying 
       					and selling that the amended Act is seeking to achieve.  Buyers, buying agents and advisors can download or 
       					request a free ipr and grade report on CPx listed properties.  </p>
                        
						<p><a style="text-decoration:underline;color:black;" href="http://www.parliament.nsw.gov.au/prod/parlment/nswbills.nsf/131a07fa4b8a041cca256e610012de17/d6649cd55e17d524ca257eba001e998d?OpenDocument" target="_blank">Link to Act</a></p>
						
                       <p><b>Media enquiries:</b></p>
                        
                   <!--       <p>For more information or to organise an interview with Anthony Aoun from CPx please contact:</p>
                        
                        <p>Amanda Jesnoewski<br>
                        M: 0433 502 114<br>
                        E: amanda@velocitymedia.com.au 
                        
                        </p> -->
                        
                    <address>
						  <abbr title="Name">Julie Harrington</abbr><br>
						  <abbr title="company">Ink Plum Marketing Communications</abbr><br>
						  <abbr title="Mobile">Mobile:</abbr> 0402 336 354<br>
						  <abbr title="Email">Email: </abbr><a href="mailto:#">julie@inkplum.com.au</a><br>
						  <abbr title="web">Web: </abbr> http://inkplum.com.au <br>
					</address>
                        
                        
      
       <br>
       <p class="blogborder"></p>
       
       <p class="subtitle2">Send via email | Email subject:</p>
       
       <p>PRESS RELEASE:  Australia&#146s First Independent Buyer Focused Property Platform</p>
      
       
     
       
  