
      
       
       <div class="header-bar"><h2>PRESS RELEASES</h2></div>
       
       <p class="pagedate">4 Feb 2015</p>
       
       <p class="presspageheader">Property Buyers</p>
       
       <p class="subtitle">Be In Charge When You Buy Property Through CPx</p>
       
       <p>The traditional method of buying property listed through real estate agents has changed forever with the introduction of centralpropertyexchange.com.au (CPx), an online property listing website. CPx enables vendors to independently list their property for sale, effectively cutting out the middle-man and saving sellers and buyers thousands of dollars in added fees and charges.</p>
       
	   <p>Founder of CPx, Anthony Aoun, said, "Until now, buyers have been on an unfair playing field". Generally the buyer liaises with an agent who works for the vendor to get the highest price, leaving the buyer self-represented. The property price is also inflated to incorporate agent commissions, advertising outlay and selling fees, all costing the buyer more money to purchase the property than is necessary.</p>       

	   <p>Buyers can now be confident of a fair and transparent process with all properties listed on CPx requiring a mandatory independent report. This report compares a property against other similar geographical properties to achieve a current market guide, enabling the buyer to compare value and to make an informed choice. Buyers are able to directly negotiate with the seller to achieve an agreed sale price.</p>
       
       <p>Buyers who prefer leaving negotiations to a professional in their field can choose to involve an independent representative to act on their behalf. Agents are encouraged to register their services on CPx, with the price for their services being separately negotiated with the buyer outside of the site. There are no set agent fees. "We have created a ground-breaking way to buy and sell property", said Mr Aoun.</p>
       
       <br>
       <p class="blogborder"></p>
       
       <p class="subtitle2">Send via email | Email subject:</p>
       
       <p>PRESS RELEASE: New property website saves buyers thousands of dollars.</p>
      
       
     
       
  