 <div class="header-bar"><h2>PRESS RELEASES</h2></div>
       
       <p class="pagedate">17 June 2015</p>
       
       <p class="presspageheader">Power Exchange: Australia&#146s First Independent Buyer Focused Real Estate Website</p>
       
       <p class="subtitle">The real estate industry has long served the seller, but the latest disrupter, centralpropertyexchange.com.au, has their eye on the buyer.</p>
       
      				<p>Recognising buyer frustration and the limitations of the financial services industry, <a href="http://centralpropertyexchange.com.au/" target="_blank" title="CPx">centralpropertyexchange.com.au</a> (CPx) Director and Founder, Anthony Aoun, has created a platform where buyers and advisors will finally get the disclosure they want.</p>
         				
         				<p>&#147The current real estate model puts the seller and agent in a position of power, which directly clashes with the financial services industry that focuses on protecting buyers. This out-dated approach is no longer workable or sufficient, and it is being less tolerated. This is why new service models and platforms are emerging as alternatives. The real estate industry is changing forever.&#148 Aoun said. 
         				</p>
         				
         				<p>He continues, &#147These changes have been driven by web technology improvements, expectations of astute buyers and investors, the financial services&#146 industry wanting more involvement in direct property purchases, growing demands for independent information, and timing ... it seems that the time for change, is now!&#148</p>
         				
         				<p>CPx is playing a significant part in changing the industry paradigm, by offering a new independent service. Properties on CPx are independently graded, helping buyers to easily compare properties, financial advisors to mitigate property transaction risks, and sellers to appeal to a different and growing market.</p>
                        
                       	<p>According to Aoun, the financial services industry, representing over 100,000 professionals, will become the next big property player. </p>
                        
       					<p>&#147CPx, because of its independent listing process makes it possible for financial services to offer properties to their clients which is an Australian first! Properties are listed with no real estate commissions or high advertising costs; buyers and sellers can bypass traditional real estate agency processes, by dealing directly with each other or appoint an independent representative. Saving both the buyer and seller money on the property transaction.&#148 Aoun said.</p>
                        
                        <p>All types of residential properties must adhere to the independent process to be listed for sale on CPx, this includes an Independent Property Review (IPR) on each listing.</p>

						<p>&#147This review gives buyers and advisors the expert commentary of independent Valuers on the location, neighbourhood, rentability and marketability of a property, providing a score and grade for quick and easy property comparisons and accurate due diligence.&#148 Aoun said.</p>	
							                        
                        <p>He continues, &#147On CPx both sellers and buyers get fair and independent representation.&#148 </p>
                        
                        <p>As the first property platform designed with the buyer in mind, there are a number of new user-experiences to make gathering information and comparing properties easier for buyers and financial services.</p>
                        
                        <p>&#147Loan view is one of many examples of the functionality available to buyers and advisors. Searching for properties based on foreign currency and a range of affordability contributors, including monthly repayments, loan to value ratio (LVR), borrowing capacity and available cash-deposit, prevents buyers wasting time searching through unsuitable properties.&#148 Aoun said.</p>
                        
                        <p>He continues, &#147CPx is already attracting positive discussions with large national corporations; financial planners, accountants and banks. CPx might just be what buyers and financial advisors have been waiting for.&#148</p>
                        
                        <p>Large industry players like Villa World, developers and private residential property sellers are able to list properties on the CPx website for a nominal fee of $550 (inclusive of GST) which also includes the Independent Property Review (IPR).</p>
                        
                        <p>To list or search properties head to <a href="http://www.centralpropertyexchange.com.au/" target="_blank" title="CPx">http://www.centralpropertyexchange.com.au</a><br>ENDS</p>
                        
                       
                       	 
                        
                        <p><b>Media Contact</b></p>
                        
                        <p>For more information or to organise an interview with Anthony Aoun from CPx please contact:</p>
                        
                        <p>Amanda Jesnoewski<br>
                        M: 0433 502 114<br>
                        E: amanda@velocitymedia.com.au 
                        
                        </p>
                        
      
       <br>
       <p class="blogborder"></p>
       
       <p class="subtitle2">Send via email | Email subject:</p>
       
       <p>PRESS RELEASE:  Australia&#146s First Independent Buyer Focused Property Platform</p>
      
       
     
       
  