
      
       
       <div class="header-bar"><h2>PRESS RELEASES</h2></div>
       
       <p class="pagedate">9 Mar 2015</p>
       
       <p class="presspageheader">Buyer&#146s Agents</p>
       
       <p class="subtitle">Agents Get To Add More Value With CPx</p>
       
      					<p>
         				Agents now have a new way to source properties for their clients through the breakthrough real estate website, <a href="http://centralpropertyexchange.com.au/" target="_blank">centralpropertyexchange.com.au</a> (CPx).  &#147The benefits of buying property through the CPx site are vast and valuable, said Anthony Aoun, property expert and founder of CPx.  Agents and their clients stand to save many thousands of dollars by using our streamlined property transaction process.&#148
         				<p>
         				By dealing direct with the vendor, agents save on the fees and charges that are usually paid to the seller&#146s agent.   The buyer&#146s agent can then pass these savings on to their own client, creating an all round value added transaction.   Agents have access to both private and commercially listed properties and can buy one property or a whole portfolio of properties for their clients, potentially saving huge sums of money.
         				</p>
         				<p>
         				CPx encourages agents to use the site with free membership offered for industry professionals.  Agents can apply to be listed as an Independent Professional on the site allowing site users to choose their services.  Once a professional&#146s industry qualifications are verified, they are then listed as a service provider for referral.   CPx charges no fee for referrals, with agent fees being negotiated directly between the client and the service provider outside of the site. 
         				</p>
         				<p>
						&#147The most efficient way of finding properties to buy is now online&#148, said Mr Aoun.  All properties listed on CPx require a mandatory Independent Property Report (IPR) which provides a property grade, score and commentary for reference.  In this way the agent can compare apples-with-apples and negotiate with the vendor from a transparent position.  CPx is an innovative way to expand agency business.
                        </p>
      
       <br>
       <p class="blogborder"></p>
       
       <p class="subtitle2">Send via email | Email subject:</p>
       
       <p>PRESS RELEASE: New property website adds to real estate agent&#146s playing field.</p>
      
       
     
       
  