
      
       
       <div class="header-bar"><h2>PRESS RELEASES</h2></div>
       
       <p class="pagedate">7 Apr 2015</p>
       
       <p class="presspageheader">Villa World</p>
       
       <p class="subtitle">Villa World Lists New Homes With CPx.</p>
       
      				<p>ASX listed Queensland property development group, Villa World, has decided to advertise their completed new homes on <a href="http://centralpropertyexchange.com.au/" target="_blank">centralpropertyexchange.com.au</a> (CPx), a ground-breaking property sales website.  CPx offers a forum for buyers and sellers to negotiate directly and so eliminates the traditional practice of engaging a middleman, effectively saving thousands of dollars in fees and commissions.
           				</p>
         				<p>
         				Villa World&#146s National Sales Manager, Robyn Valmadre, commented, &#147At Villa World, we sell our own properties, therefore, the third party cost savings do not apply in our case.  However, CPx offers a new marketplace to reach buyers and investors who are seeking the significant cost savings both Villa World and CPx can offer.  In this way, advertising our homes on CPx is a good fit for us.&#148
         				</p>
         				<p>
						The CPx business model encourages not only buyers and sellers to the site, but also industry professionals such as financial planners, mortgage brokers, accountants, and conveyancers to register their services on the site.  After an industry professional&#146s qualifications are verified by CPx, clients can then choose to engage their services for a fee negotiated between the two parties outside of the CPx site.
         				</p>
         				<p>
						CPx provides an environment where home buyers and investors can buy properties with market transparency and can choose the services they need at an individually negotiated price.  All properties listed on the site require a mandatory Independent Property Report that provides a graded score for easy comparison.  &#147Villa World&#146s business philosophy is win-win, and I can see this same philosophy is inbuilt in the CPx business model&#148, said Ms Valmadre.
                        </p>
                        
                        <p>
						The innovation of property expert, Anthony Aoun, CPx is a business concept he has been carefully developing to fruition over the past 10 years.  CPx is a meeting place for private, commercial and industry professionals looking to buy and sell property and to assist those in doing so.  &#147We are very excited at the news that Villa World will be listing property on CPx&#148, said Mr Aoun.
                        </p>
                        
      
       <br>
       <p class="blogborder"></p>
       
       <p class="subtitle2">Send via email | Email subject:</p>
       
       <p>PRESS RELEASE: Villa World to list properties on innovative real estate website.</p>
      
       
     
       
  