<div class="header-bar"><h2>Public speaking profiles</h2></div>
       
       <div class="col-sm-12 noleftpad">
			<h3>Anthony Aoun</h3>
		</div>
       
       <div class="col-sm-12 noleftpad">
		
			<dl class="dl-horizontal">
			  <dt style="width:auto;">Director of: </dt>
			  <dd style="margin-left: 90px;">Confidis.com.au</dd>
			  <dd style="margin-left: 90px;">Aoun.co</dd>
			  <dd style="margin-left: 90px;">Landlordcentral.com.au</dd>
			</dl>
			
			<dl class="dl-horizontal">
			  <dt style="width:auto;">Brands: </dt>
			  <dd style="margin-left: 90px;">centralpropertyexchange.com.au [CPx]</dd>
			  <dd style="margin-left: 90px;">propertycompass.com.au </dd>
			  
			</dl>
			
		
		</div>
		
		<div class="col-sm-12 col-xs-12 noleftpad" >
			<h4><i>Changing the Australian residential real estate industry through curiosity and inventiveness.</i></h4>
		</div>
		<div class="clearout"></div>
		
		<div class="col-md-12 noleftpad" style="text-align:justify;">
            <img style='float:left;margin-right:15px;margin-bottom:10px' src="images/CPxPublicSpeakingProfilesAnthonyAoun.png" />
            <p>Anthony Aoun is a business innovator and consultant with over 22 years experience in business 
            development and more than 16 years experience in residential real estate. </p>
            <p>Recognising the need for property buyers to have disclosure and evaluation tools when purchasing 
            investment property, Anthony set about disrupting the real estate industry to create a level playing field. </p>
            <p>As a result he founded PropertyCompass.com.au to match investors with property in minutes, Confidis.com.au an 
            independent trust account for the secure receipt, management and disbursement of deposits and commissions, and 
            CentralPropertyExchange.com.au [CPx], Australia&rsquo;s first independent buyer-focused real estate advertising website. 
            Anthony was also the Founder and Managing Director of a large investment property marketing business, with more than 
            50 staff and offices in New South Wales, Queensland, Victoria and Indonesia.</p>
            
            <dl class="dl-horizontal">
			  <dt style="width:auto;">Presentations: &nbsp;</dt>
			  <dd style="margin-left: auto">Providing cutting edge insight into property, Anthony has been has been featured on 
			  Qantas Talking Business with Alan Kohler, hosted a property program on SBS radio and was invited on a national road 
			  show with <a href="http://www.beacongroup.com.au/">Beacon Group</a>.</dd>
  
			</dl>
			
			<dl class="dl-horizontal">
			  <dt style="width:auto;">Business Consulting: &nbsp;</dt>
			  <dd style="margin-left: auto;">With an ability to identify trends and opportunities, Anthony assisted in the concept 
			  of <a href="http://propdata.com.au/">Propdata </a> a web-based business that enables independent analysis for the 
			  property market and <a href="http://www.gnorizo.co">Gnorizo </a> an executive coaching business.</dd>
			</dl>
			
			<dl class="dl-horizontal">
			  <dt style="width:auto;">Personal Consulting: &nbsp;</dt>
			  <dd style="margin-left: auto;">With over 16 years experience in national and international property sales, Anthony 
			  coached a new <a href="http://www.mcgrath.com.au/">McGrath Franchise Group</a> real estate agent with no prior 
			  real estate experience to become a nationally renowned agent in twelve months.</dd>
			</dl>
			
			<dl class="dl-horizontal">
			  <dt style="width:auto;">Presentation style: &nbsp;</dt>
			  <dd style="margin-left: 90px;">Professional, light-hearted, humorous, engaging and thought provoking</dd>			  
			</dl>
			
			<dl class="dl-horizontal">
			  <dt style="width:auto;">Favorite word: &nbsp;</dt>
			  <dd style="margin-left: 90px;">Otipemsiwak, meaning &lsquo;Those who own themselves&rsquo; </dd>			  
			</dl>
			
			<dl class="dl-horizontal">
			  <dt style="width:auto;">Philosophy: &nbsp;</dt>
			  <dd style="margin-left: 90px;">Every day we are given a new opportunity to positively contribute to the wellbeing 
			  of our family, community, state and country through our actions. </dd>			  
			</dl>
			
			<h5>Areas of Expertise</h5>
			<ul>
				<li>Business Development and Change</li>
				<li>Property Investing</li>
				<li>Residential Real Estate Trends</li>
				<li>Digital Disruption</li>
				<li>Customer Service</li>
				<li>Shifting Attitudes</li>
				<li>Innovative Thinking</li>
			</ul>
        </div>
        
        <div class="col-sm-12 col-xs-12 noleftpad">
		<address>
		  <h5><b>Media Contact</b></h5>
		  For more information or to have Anthony Aoun speak in your next event/conference please contact:<br>
		  Amanda Jesnoewski<br>
		  
		  <p style="cursor:pointer;margin:0px;" title="Phone">M: 0433 502 114</p>
		  <p style="cursor:pointer;" title="Email">E: <a href="mailto:#">amanda@velocitymedia.com.au</a></p> 
		</address>
		</div>
       
       
       
<br/><br/>
