		<div class="static-content publication-media">
			<div class="row">
				<div class="col-sm-6  col-xs-6 thumb">
	                   <!--  <img class="img-responsive" src="images/freshapproachcover.png" alt=""> -->
	                 <a class="thumbnail mask blogindex" href="#!/public-speaking-profiles/anthonyaoun" title="Anthony Aoun">
	                    <img class="img-responsive" src="images/CPxPublicSpeakingProfilesAnthonyAoun.png" alt="CPxPublicSpeakingProfilesAnthonyAoun.png" style="border:0px;">
	                </a>
	                <!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/CPxBrochure2Feb2015.pdf" ></a></div> -->
	            </div>
	            
	            
			</div>
			<!-- <div class="row">
				
			</div> -->
		</div>