		<div class="static-content publication-media">
			<div class="row">
				<div class="col-sm-4  col-xs-6 thumb">
					
	                 
	                 <a class="thumbnail mask" href="docs/What is CPx.pdf" target="_blank" title="What is CPx?">
	                    <img class="img-responsive" src="images/What-is-CPx.jpg" alt="What-is-CPx.jpg">
	                    <span class="text"><img src="images/arrow-only.png" alt="arrow"/><p class="pdftext">PDF</p></span>
	                </a>
	                <div class="col-sm-12 col-xs-12 doctitle">What is CPx?</div>
	                <!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/CPxBrochure2Feb2015.pdf" target="_blank"></a></div> -->
	            </div>
	            
	            <div class="col-sm-8  col-xs-6 ">
					<div class="embed-responsive embed-responsive-4by3">
					<iframe width="420" height="315" src="//www.youtube.com/embed/-kFrcofNb_Q" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="col-sm-9 col-xs-9 doctitle">Compare CPx video</div>
                	
				</div>
			</div>
			
			
			
			
			<div class="row">
			
				<div class="col-sm-4  col-xs-6 thumb">
					
	                   <!--  <img class="img-responsive" src="images/freshapproachcover.png" alt=""> -->
	                 <a class="thumbnail mask" href="docs/CPX website Brochure_v3.pdf" target="_blank" title="CPx Brochure">
	                    <img class="img-responsive" src="images/CPX-website-Brochure_v3.jpg" alt="CPX-website-Brochure_v3.jpg">
	                    <span class="text"><img src="images/arrow-only.png" alt="arrow"/><p class="pdftext">PDF</p></span>
	                </a>
	                <div class="col-sm-12 col-xs-12 doctitle">Property through an independent lens</div>
	                <!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/CPxBrochure2Feb2015.pdf" target="_blank"></a></div> -->
	            </div>
			
			
				<div class="col-sm-4  col-xs-6 thumb">
	                <a class="thumbnail mask" href="docs/Why Grade a Property.pdf" target="_blank" title="Why grade a property?">
	                    <img class="img-responsive" src="images/Why-Grade-a-Property.jpg" alt="Why-Grade-a-Property.jpg">
	                    <span class="text"><img src="images/arrow-only.png" alt="arrow"/><p class="pdftext">PDF</p></span>
	                </a>
	                <div class="col-sm-12 col-xs-12 doctitle">Why grade a property?</div>
                	<!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/ListyourpropertyonCPxFactsheet.pdf" target="_blank"></a></div> -->
	            </div>
	            
			
			
				<div class="col-sm-4  col-xs-6 thumb">
	                <a class="thumbnail mask" href="docs/List your property on CPx Brochure_V3.pdf" target="_blank" title="List your property on CPx">
	                    <img class="img-responsive" src="images/listyourpropertycove_0.png" alt="listyourpropertycove_0.png">
	                    <span class="text"><img src="images/arrow-only.png" alt="arrow"/><p class="pdftext">PDF</p></span>
	                </a>
	                <div class="col-sm-12 col-xs-12 doctitle">List your property on CPx</div>
                	<!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/ListyourpropertyonCPxFactsheet.pdf" target="_blank"></a></div> -->
	            </div>
	            
	       
	       </div>     
	            
	            
	   <div class="row">
	   			
				<div class="col-sm-4  col-xs-6 thumb">
	                <a class="thumbnail mask" href="docs/CPx Governance-Selling_Advertising Properties Brochure11NOV.pdf" target="_blank" title="CPx Governance-Selling-Advertising Properties Brochure.pdf">
	                    <img class="img-responsive" src="images/CPx-Governance-Selling_Advertising-Properties-Brochure11NOV.jpg" alt="CPx-Governance-Selling_Advertising-Properties-Brochure11NOV.jpg">
	                    <span class="text"><img src="images/arrow-only.png" alt="arrow"/><p class="pdftext">PDF</p></span>
	                </a>
	                <div class="col-sm-12 col-xs-12 doctitle">CPx Governance: Selling/Advertising Properties</div>
                	<!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/ListyourpropertyonCPxFactsheet.pdf" target="_blank"></a></div> -->
	            </div>   
	                     
	             <div class="col-sm-4  col-xs-6 thumb">
	                <a class="thumbnail mask" href="docs/Self Managed Super Fund (SMSF) Brochure.pdf" target="_blank" title="SMSF Brouchure">
	                    <img class="img-responsive" src="images/Self-Managed-Super-Fund-(SMSF)-Brochure.jpg" alt="Self-Managed-Super-Fund-(SMSF)-Brochure.jpg">
	                    <span class="text"><img src="images/arrow-only.png" alt="arrow"/><p class="pdftext">PDF</p></span>
	                </a>
	                <div class="col-sm-12 col-xs-12 doctitle">Self Managed Super Fund (SMSF)</div>
                	<!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/ListyourpropertyonCPxFactsheet.pdf" target="_blank"></a></div> -->
	            </div>	            
	            
	             <div class="col-sm-4  col-xs-6 thumb">
	                <a class="thumbnail mask" href="docs/DomaCom Fractional Property Investing Brochure.pdf" target="_blank" title="DomaCom Brouchure">
	                    <img class="img-responsive" src="images/DomaCom-Fractional-Property-Investing-Brochure.jpg" alt="DomaCom-Fractional-Property-Investing-Brochure.jpg">
	                    <span class="text"><img src="images/arrow-only.png" alt="arrow"/><p class="pdftext">PDF</p></span>
	                </a>
	                <div class="col-sm-12 col-xs-12 doctitle">DomaCom Fractional Property Investing</div>
                	<!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/ListyourpropertyonCPxFactsheet.pdf" target="_blank"></a></div> -->
	            </div>
	            

	  </div>
			
			
	<div class="row">    
		            
	            
	            
	            <div class="col-sm-4  col-xs-6 thumb">
	                <a class="thumbnail mask" href="docs/CPx Confidis Pty Ltd Brochure.pdf" target="_blank" title="Confidis Brouchure">
	                    <img class="img-responsive" src="images/CPx Confidis-Pty-Ltd-Brochure.jpg" alt="CPx Confidis-Pty-Ltd-Brochure.jpg">
	                    <span class="text"><img src="images/arrow-only.png" alt="arrow"/><p class="pdftext">PDF</p></span>
	                </a>
	                <div class="col-sm-12 col-xs-12 doctitle">Confidis Pty Ltd</div>
                	<!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/ListyourpropertyonCPxFactsheet.pdf" target="_blank"></a></div> -->
	            </div>
	     
				
	             <div class="col-sm-4  col-xs-6 thumb">
	                <a class="thumbnail mask" href="docs/CPxPressRelease_7APR15.pdf" target="_blank" title="Villa World">
	                    <img class="img-responsive" src="images/VillaWorld-Press-image.jpg" alt="VillaWorld-Press-image.jpg">
	                    <span class="text"><img src="images/arrow-only.png" alt="arrow"/><p class="pdftext">PDF</p></span>
	                </a>
	                <div class="col-sm-12 col-xs-12 doctitle">Villa World Lists New Homes With CPx</div>
                	<!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/ListyourpropertyonCPxFactsheet.pdf" target="_blank"></a></div> -->
	            </div>				
	         		
				 <div class="col-sm-4  col-xs-6 thumb">
	                <a class="thumbnail mask" href="docs/CPx Press Release-20MAR15.pdf" target="_blank" title="DomaCom collaborates with CentralPropertyExchange.">
	                    <img class="img-responsive" src="images/CPx-Press-Release-20MAR15.jpg" alt="DomaCom collaborates with CPx">
	                    <span class="text"><img src="images/arrow-only.png" alt="arrow"/><p class="pdftext">PDF</p></span>
	                </a>
	                <div class="col-sm-12 col-xs-12 doctitle">DomaCom collaborates with CentralPropertyExchange.<br>com.au</div>
                	<!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/ListyourpropertyonCPxFactsheet.pdf" target="_blank"></a></div> -->
	            </div>
			
	
	 
	     </div>
	 
	 <div class="row"> 

   				<div class="col-sm-4  col-xs-6 thumb">
	                <a class="thumbnail mask" href="docs/CPx Press Release-9MAR15.pdf" target="_blank" title="Agents Get To Add More Value With CPx">
	                    <img class="img-responsive" src="images/CPx-Press-Release-9MAR15.jpg" alt="Agents Get To Add More Value With CPx">
	                    <span class="text"><img src="images/arrow-only.png" alt="arrow"/><p class="pdftext">PDF</p></span>
	                </a>
	                <div class="col-sm-12 col-xs-12 doctitle">Agents Get To Add More Value With CPx</div>
                	<!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/ListyourpropertyonCPxFactsheet.pdf" target="_blank"></a></div> -->
	            </div>	 
	 
	        	<div class="col-sm-4  col-xs-6 thumb">
	                <a class="thumbnail mask" href="docs/CPx Press Release-6MAR15.pdf" target="_blank" title="Finance Professionals Benefit With CPx">
	                    <img class="img-responsive" src="images/CPx-Press-Release-6MAR15.jpg" alt="Finance Professionals Benefit With CPx">
	                    <span class="text"><img src="images/arrow-only.png" alt="arrow"/><p class="pdftext">PDF</p></span>
	                </a>
	                <div class="col-sm-12 col-xs-12 doctitle">Finance Professionals Benefit With CPx</div>
                	<!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/ListyourpropertyonCPxFactsheet.pdf" target="_blank"></a></div> -->
	            </div>
	            
		         <div class="col-sm-4  col-xs-6 thumb">
	                <a class="thumbnail mask" href="docs/CPx-Press-Release-4Feb15.pdf" target="_blank" title="Be In Charge When You Buy Property Through CPx">
	                    <img class="img-responsive" src="images/CPx-Press-Release-4Feb15.jpg" alt="Be In Charge When You Buy Property Through CPx">
	                    <span class="text"><img src="images/arrow-only.png" alt="arrow"/><p class="pdftext">PDF</p></span>
	                </a>
	                <div class="col-sm-12 col-xs-12 doctitle">Be In Charge When You Buy Property Through CPx</div>
                	<!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/ListyourpropertyonCPxFactsheet.pdf" target="_blank"></a></div> -->
	            </div>

			
	      
	            
	    </div> 
	    
	     <div class="row">    

			<div class="col-sm-4  col-xs-6 thumb">
	                <a class="thumbnail mask" href="docs/CPx-Press-Release-20jan15.pdf" target="_blank" title="List your properties with CPx and reap the rewards">
	                    <img class="img-responsive" src="images/cpx-press-release-20jan.png" alt="List your properties with CPx and reap the rewards">
	                    <span class="text"><img src="images/arrow-only.png" alt="arrow"/><p class="pdftext">PDF</p></span>
	                </a>
	                <div class="col-sm-12 col-xs-12 doctitle">List your properties with CPx and reap the rewards</div>
                	<!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/ListyourpropertyonCPxFactsheet.pdf" target="_blank"></a></div> -->
	            </div>
	         	
	         	<div class="col-sm-4  col-xs-6 thumb">
	                <a class="thumbnail mask" href="docs/CPx-Press-Release-19Jan15.pdf" target="_blank" title="Cut out the middle-man and save thousands">
	                    <img class="img-responsive" src="images/cpx press release-19jan.png" alt="Cut out the middle-man and save thousands">
	                    <span class="text"><img src="images/arrow-only.png" alt="arrow"/><p class="pdftext">PDF</p></span>
	                </a>
	                <div class="col-sm-12 col-xs-12 doctitle">Cut out the middle-man and save thousands</div>
                	<!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/ListyourpropertyonCPxFactsheet.pdf" target="_blank"></a></div> -->
	            </div>
	            
	         	
	            
	  		   <div class="col-sm-4  col-xs-6 thumb">
	                <a class="thumbnail mask" href="docs/CPx Press Release -7Jan15.pdf" target="_blank" title="Buy And Sell Property For Less With CPx">
	                    <img class="img-responsive" src="images/CPx-Press-Release-7Jan15.jpg" alt="Buy And Sell Property For Less With CPx">
	                    <span class="text"><img src="images/arrow-only.png" alt="arrow"/><p class="pdftext">PDF</p></span>
	                </a>
	                <div class="col-sm-12 col-xs-12 doctitle">Buy And Sell Property For Less With CPx</div>
                	<!-- <div class="col-sm-3 col-xs-3 doctitle" align="right"><a class="btn btn-social-icon btn-pdf top-icon" href="docs/ListyourpropertyonCPxFactsheet.pdf" target="_blank"></a></div> -->
	            </div>
			   
		</div>
	
			
			
			
		</div>