<header2></header2>
<div class="container-fluid cpxpage">
	<div class="row">
		<div class="col-sm-12 col-xs-12 cpxbg" align="left">
			<h1 class="fronthead container">Thank you...</h1>
		</div>
	</div>
</div>

<div class="container tandccontent" >
	<div class="row termscontent">
		<div class="col-sm-12 h2fontsize20">
			<p>Dear property owner/ agent,</p>
			<span ng-show="response" ><p>You have choosen to buy ipr and grade report for your Property.</p>
			<p>We will soon get in touch with you.</p></span>
			<span ng-show="!response" ><p>You have choosen NOT to buy ipr and grade report for your Property.</p></span>
			
		
				<p class="colorstyleblue" >Regards,</br>
					CPx Administration</p><br>
					<div class="">
						<img src="images/CPxLogo-email.jpg">
					</div><br>
					<address>
						  <abbr title="Telephone"><b>Telephone: </b></abbr> +61 2 8006 1979 <br>
						  <abbr title="Mobile"><b>Mobile/cell: </b></abbr> +61 410 510 997<br>
						  <abbr title="Email"><b>Email: </b></abbr><a href="mailto:#">contact@central propertyexchange.com</a><br>
						  <abbr title="web"><b>Web: </b></abbr> centralpropertyexchange.com.au<br>
						  <abbr title="Skype"><b>Skype: </b></abbr> property.compass<br>
					</address>
					</div>
	</div>
</div>
		