<header2 selectedmenu="selectedmenu"></header2>
<div class="ServiceRequest">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row ServiceRequest_title text-center">
                <h3>Service request</h3>
            </div>
        </div>
        <div class="queaction col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="SuggestionBoxIsVisible">
            
                
            <div class="alert alert-block fade in" style="background:#ffffcc;border-color: #ffffab;">
                <button type="button" class="close close-sm" data-dismiss="alert" ng-click="ShowHideSuggestionBox()">
                    <i class="fa fa-times"></i>
                </button>
                                
                <h4>
                    <span ng-if="toggle_val == ''">
                    <strong>Please note:</strong> If you want to direct an enquiry to the property owner/ agent, please use the enquiry  form instead. <a href="#" style="color: #86b84c;" onClick="javascript:history.go(-1); return false; " class="link01"> Click to go back </a> 
                    </span>
                     
                    <span ng-if="toggle_val != '' && toggle_val == 'to'">
                    <strong>Please note:</strong> If you want to direct an enquiry to the property owner/ agent, <a href="#!/enquire" ng-click="toggle_enquire_servicerequest('to'); " class="link01"> please click here </a> to use the enquiry form instead.    
                    </span>
                    
                </h4>
            </div>
               
            
        </div>
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 queaction queactionsucess">
		  <alert dismiss-on-timeout="15000" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index);">{{alert.msg}}</alert>
		</div>
		
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 startform">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 service-rq-left">
                    <div class="Serviceform">
                        <form name="myForm">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">

                                        <label class="">Your name <i class="required-text asterisk">*</i></label>
				                        <input type="text" class="form-control" ng-model="contact.name"  ng-required='!contact.name'/>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="">Your email <i class="required-text asterisk">*</i></label>
				                        <input type="email" class="form-control"  ng-model="contact.email" ng-required='!contact.email'/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="">Your role <i class="required-text asterisk">*</i></label>
                    				   <select title="Please select a role from the list" class="form-control" ng-model="contact.role" ng-required='!contact.role'>
                                            <option ng-selected="'Please select role'" value="">About you: Please select role</option>
                                            <option value="Accountant">Accountant</option>
                                            <option value="Buyer">Buyer</option>
                                            <option value="Buyer agent/ Advocate">Buyer agent/ Advocate</option>
                                            <option value="Bank">Bank</option>
                                            <option value="Financial planner">Financial planner</option>
                                            <option value="Mortgage broker">Mortgage broker</option>
                                            <option value="Real estate agent">Real estate agent</option>
                                            <option value="SMSF">SMSF</option>
                                            <option value="Solicitor/ Conveyancer">Solicitor/ Conveyancer</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="">Subject</label>
				                        <input type="text" tabindex="-1" class="form-control box_g"  ng-model="contact.subject" ng-init="contact.subject=subject" readonly="true"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        
                                         <label class="">Your message</label>
                                          <div class="div_g" ng-model="contact.links" ng-bind-html="contact.links = link" ></div>
                                             <textarea ng-if="currid==''" class="form-control textarea" style="width:100%; height: 220px;" class="form-control textarea" rows="3"   placeholder="" ng-model="contact.message"></textarea>
                                             <textarea ng-if="currid!=''" style="width:100%; height: 220px; " class="form-control textarea" rows="3"   placeholder="Type your comments here..." ng-model="contact.message"></textarea>
                                             
                                    </div>
                                </div>
                            </div>
                            <hr class="formhr" />
                            <alert dismiss-on-timeout="15000" ng-repeat="alertrec in alertrecs" type="{{alertrec.type}}" close="closeAlertrec($index);">{{alertrec.msg}}</alert>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="emailrequrid">
                                        <h4 > <strong> Please nominate email recipient(s)</strong></h4>
                                    </div>
                                    <div class="nominateemailrecipient">
                                        <div class="form-group formchackboxdiv">
                                            <label class="pull-left">CPx</label>
                                            <input class="form-control formchackbox" type="checkbox" ng-model="myCheckbox"  ng-change="cbSelected()">
                                        </div>
                                        <div class="emailroleadd">
                                            <div class="form-group">
                                                <label class="">Email address</label>
                                                <input class="form-control" type="email" ng-model="email_add" value="" ng-readonly="email_add == 'contact@centralpropertyexchange.com.au'" placeholder="Email address" id="Name">
                                            </div>
                                        </div>
                                        <div class="emailroleadd">
                                            <div class="form-group">
                                                <label class="pull-left">Role</label>
                                                <select id="FinacialYourrole" name="FinacialYourrole"  data-label="addemailrecipient-role" ng-model="role">
                                                  <option ng-selected="'Select Role'" value="">Select role</option>
                                                  <option  value="Accountant">Accountant</option>
                                                  <option  value="Buyer agent/ Advocate">Buyer agent/ Advocate</option>
                                                  <option  value="Bank">Bank</option>
                                                  <option  value="Financial planner">Financial planner</option>
                                                  <option  value="Mortgage broker">Mortgage broker</option>
                                                  <option  value="Real estate agent">Real estate agent</option>
                                                  <option  value="SMSF">SMSF</option>
                                                  <option  value="Solicitor/ Conveyancer">Solicitor/ Conveyancer</option>
                                                  <option  value="Other">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <a ng-click="Add()" href="javascript:void(0);" title="Add recipient" class="addformtab">a</a>
                                        
                                    </div>
                                    
                                    
                                    <div class="nominateemailrecipient" data-ng-repeat="record in records" style=" clear:left;border-bottom: 1px dotted #bfbfbf;;border-color: gray;">
                                        <div class="form-group formchackboxdiv" style="width: 5%;">
                                            <span ng-if="record.email_add=='contact@centralpropertyexchange.com.au'"><input class="formchackbox" type="checkbox" ng-disabled="true" ng-checked="true"></span>
                                            <span  ng-if="record.email_add!='contact@centralpropertyexchange.com.au'">&nbsp;</span>
                                        </div>
                                        <div class="emailroleadd">
                                            <div class="form-group">
                                                
                                                {{record.email_add}}
                                            </div>
                                        </div>
                                        <div class="emailroleadd">
                                            <div class="form-group">
                                                {{record.role}}
                                            </div>
                                        </div>
                                        <a style="margin-top: 0px !important;" ng-click="Delete($index)" href="javascript:void(0);" title="Remove recipient" class="addformtab addformtabtwo">a</a>
                                    </div>

                                    
                                </div>
                            </div>
                            <hr class="formhr" />
                            
                            <input type="hidden" class="form-control" name="subjectmail" ng-model="contact.dummysubject" ng-init="contact.dummysubject='Contact us request form'"/>
                            
                            <alert dismiss-on-timeout="15000" ng-repeat="alertcap in alertcaps" type="{{alertcap.type}}" close="closeAlertcap($index);">{{alertcap.msg}}</alert>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 robotdiv">
                                <div class="row robotdivrow">
                                    <div vc-recaptcha key="'6LeeeAoTAAAAADJtB95fd7tDeXLMk1kajrFd6d37'" ng-model="respone5" theme="'light'" on-create="setWidgetId(widgetId);"></div>   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" ng-click=" sendContactEmail();" class="sendbtn">Send</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 service-rq-right">
                    <div class="well servicerightside">
                        <h4 >Get independent help with evaluating/ buying property.</h4>
                        <p>Your options:</p>
                        <p><strong>1) If you know the recipients</strong><br /> Nominate email recipient(s) below and submit service request. </p>
                        <p><strong>2) Seek a professional</strong><br /> Select 'CPx' instead of nominating an email recipient; CPx admin will pass your request to an industry professional within the CPx marketplace.</p>
                        <p><strong>CPx has a no-fee policy for introduction or finding an industry professional.</strong></p>
                    </div>
                    
                    <div class="cont-btn"><a href="#!/contact">Contact us for more information </a></div>
                    
                    <div class="servicerightsideimg">
                        <img src="images/findindustryprofessionals.jpg" class="img-responsive " alt="whatisCPx.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>