<header2></header2>
<div class="container-fluid cpxpage">
	<div class="row">
		<div class="col-sm-12 col-xs-12 cpxbg" align="left">
			<h1 class="fronthead container">Terms & conditions</h1>
		</div>
	</div>
</div>

<div class="container tandccontent" >
	<div class="row termscontent">
		<div class="col-sm-12 h2fontsize20">

   <P>Central Property Exchange ABN 11 115 562 957 is the legal and rightful owner of the intellectual property that forms the base of the product; <a href="http://propertycompass.com.au" target="_blank" title="Property Compass&#174">www.propertycompass.com.au</a> (Property Compass&#174) and the domain name <a href="http://centralpropertyexchange.com.au" target="_blank" title="CPx">www.centralpropertyexchange.com.au</a>(CPx).</P>

   <P>Landlord Central Pty Ltd (&#147LCA&#148) ABN 39 123 500 176 has the exclusive right under license to commercialise and sub-license the Property Compass&#174 and the domain name <a href="http://centralpropertyexchange.com.au" target="_blank" title="CPx">www.centralpropertyexchange.com.au</a> (CPx) within Australia. In addition to this base intellectual property, LCA utilises under lawful license some third-party solutions. </P> 

   <P>Landlord Central Pty Ltd (&#147LCA&#148) is a registered business in NSW Australia and the "Owner" of a marketing and virtual distribution website which specialises in the marketing, presentation, evaluation tools and business management of real estate. These are the terms and conditions upon which LCA permits you to use this website and any products or services offered on it. These terms must be read together with our Privacy Policy.</P> 

<h2>Terms of access to this website</h2>

This website (referred to in these Terms as the "Website") is owned and operated by Landlord Central Pty Ltd on the World Wide Web ("WWW"). The material on the Website is copyright &#169 2007 Central Property Exchange Pty Ltd and/or other copyright owners.

 

The Website is available for you to:

<ul>

            <li>Access, conditional upon your acceptance without alteration of the terms and conditions set out below. By continuing to access the website you are agreeing to the terms and conditions set out below in Part A (paragraphs A to V); and</li>

            <li>Provide information about your product or service, conditional on your acceptance without alteration of the terms and conditions set out below.</li>

</ul>

<h2>Use of material on the Website</h2>

A. Except for the limited use set out in paragraph B you may not use the Website, or the material contained on it, for any purpose. This involves:

<ul>

            <li>The reproduction of the material in any material form;</li>

            <li>The distribution of the material in any material form;</li>

            <li>Retransmission of the material by any medium of communication;</li>

            <li>Uploading and/or reposting the material to any other website on the WWW;</li>

            <li>'Framing' the material on the Website with other material on any other WWW</li>

</ul>

The above are 'unlawful' in any jurisdiction and are specifically prohibited by these terms.

 

B. Notwithstanding the above restrictions on use of the material on the Website, you may download material from the Website for your personal non-commercial use provided you do not remove any copyright and trade mark notices contained on the material.

 

C. You may not modify or copy:

<ul>

            <li>The layout of the Website; and</li>

            <li>Any computer software and code contained in the Website</li>

</ul>

D. The Owner reserves all intellectual property rights, including, but not limited to, copyright material and/or services provided by it. The material provided on the Website is provided for personal use only and may not be:

<ul>

            <li>Re-sold and/or redistributed in any material form;</li>

            <li>Stored in any storage media; and/or</li>

            <li>Re-transmitted in any media without the prior written consent of the Owner</li>

</ul>

<h2>Links to Other Websites</h2>

E. The Website contains links to sites on the WWW owned and operated by third parties and which are not under the control of the Owner.

 

F. In relation to the other sites on the WWW, which are linked to the Website, the Owner:

<ul>

            <li>Provides the links to other websites as a convenience to you, the existence of a link to other sites does not imply any endorsement by the Owner of the linked site; and</li>

            <li>Is not responsible for the material contained on those linked sites.</li>

</ul>

<h2>Disclaimer</h2>

G. The Owner is making the Website available for others to publish information without assuming a duty of care to users. The Owner is not in the business of providing professional advice and gives no warranty, guarantee or representation about the accuracy, reliability or timeliness or otherwise, of the information contained on the Website and/or linked sites on the WWW.

<ul>

            <li>The information provided is not intended to constitute legal, financial or professional advice</li>

            <li>It has not taken into account and has no regard to the investment needs, objectives or circumstances (financial or otherwise) of particular recipients, and is not an exhaustive outline of available investment opportunities.</li>

            <li>The Owner makes no recommendation as to the merits of any investment opportunity referred to on this website.</li>

            <li>The calculations are based on many assumptions. Landlord Central recommends you seek the assistance of an industry professional; ie your Financial Planner or Accountant.</li>

</ul>

H. To the full extent permitted by law the Owner disclaims any and all warranties, express or implied, regarding:

<ul>

            <li>The accuracy, reliability, timeliness or otherwise of any information contained or referred to on the Website and/or of any linked sites; and</li>

            <li>Suitability or fitness for any particular purpose for any service or product contained or referred to on the Website and/or on any linked sites.</li>

</ul>

I. The Owner will not be liable under any circumstances for any loss of profits or any damages of any kind recognised by law (even if it has been advised of the possibility of such loss of profits or damages) which are the consequence of you:

<ul>

            <li>Acting, or failing to act, on any information contained on or referred to on the Website and/or any of the linked Websites; and</li>

            <li>Using or acquiring, or your inability to use or acquire, any service or product contained or referred to on the Website and/or any linked sites.</li>

</ul>

<h2><span style="font-size: 14px; line-height: 1.428571429;">J. The Owner does not warrant, guarantee or make any representation that:</span></h2>

<ul>

            <li>The Website, or the server that makes the site available on the WWW are free of software viruses;</li>

            <li>The functions contained in any software contained on the Website will operate uninterrupted or are error-free; and</li>

            <li>Errors and defects in the Website will be corrected.</li>

</ul>

K. The Owner is not liable to you for:

<ul>

            <li>Errors or omissions in the Website, or linked sites on the WWW;</li>

            <li>Delays to, interruptions of or cessation of the services provided in the Website, or linked sites; and</li>

            <li>Defamatory, offensive or illegal conduct of any user of the Website, whether caused through negligence of the Owner, its employees or independent contractors, or through any other cause</li>

</ul>

L. You agree to accept the full cost of any necessary repair, correction and maintenance of any of your computer software or hardware, which may be necessary as a consequence of you accessing the Website.

<h2>Limitation of Liability</h2>

M. Disclaimer may not apply to you in jurisdictions in which limitations on or exclusions of warranties or liabilities are not permitted by law. To the full extent permitted by law the Owner's liability for any implied warranty or condition is limited, at the choice of the Owner, to one or more of the following:

 

If the breach of an implied warranty or condition relates to services:

<ul>

            <li>the supply of the services again; or</li>

            <li>the payment of the cost of having the services supplied again.</li>

</ul>

If the breach of an implied warranty or condition relates to goods:

<ul>

            <li>the replacement of the goods or the supply of equivalent goods;</li>

            <li>the repair of such goods;</li>

            <li>the payment of the cost of replacing the goods or acquiring equivalent goods, or having the goods repaired.</li>

</ul>

<h2>Use of information gathered</h2>

N. The Owner and/or people authorised by it may gather and process the information:

<ul>

            <li>which you may provide when accessing the Website, such as your name, address, e-mail address and other personal information about you; and</li>

            <li>regarding the way in which you use the Website including, without limitation, information acquired through the use of "cookies" programmed during the accessing of the Website.</li>

</ul>

<h2>Termination of Access</h2>

O. The Owner may terminate access to the Website at any time without giving any explanation or justification for the termination of access, and the Owner has no liability for any costs, losses or damages of any kind arising as a consequence of terminating access to the Website.

 

Alteration of Terms of Access

 

The Owner reserves the right to change these Terms of Access:

<ul>

            <li>with or without further notice to you; and</li>

            <li>without giving you any explanation or justification for such change.</li>

</ul>

<h2>Relevant jurisdiction</h2>

P. If any part of this Agreement is found to be void, unlawful, or unenforceable then that part will be deemed to be severable from the balance of this Agreement and the severed part will not affect the validity and enforceability of any remaining provisions.

 

Q. This Agreement will be governed by and interpreted in accordance with the law of NSW, without giving effect to any principles of conflicts of laws.

 

R. You agree to the jurisdiction of the courts of NSW to determine any dispute arising out of this Agreement.

<h2>Our network of Professionals</h2>

S. Landlord Central endeavours to expand our member network Australia-wide with qualified and ethical professionals. However it is NOT within the capacity of Landlord Central to ensure these professionals are currently complying within their respective legislation, laws or code of practice.

 

Our network of industry professionals may include, but is not limited to;

 

T. Real Estate Agents, Consultants, Buyers Agents, Valuers, Financial Planners, Financiers / Mortgage Brokers, Immigration Agents, Accountants, Developers, Quantity Surveyors, Banks, Superannuation Organisations.

<h2>Business System</h2>

U. Landlord Central has developed an on-line property evaluation system/process for the property seller/buyer. The business process is also licensed to our network of professionals. Landlord Central offers a range of support tools and directs referrals to our network of industry professionals. Landlord Central does not act in the capacity of any of the professions. Landlord Central passes all property enquiries to the respective profession.

 

V. Landlord Central acts on your request to forward your information in the format that you have given us, to our network of industry professionals. Your information will not be provided to those professionals without your prior consent. Please refer to our Privacy Policy for further information.
		</div>
	</div>
</div>
		