<div class="static-content">

<h2>Let&#8217;s face it, when it comes to the property game the odds are stacked against you as a buyer</h2>
	
	 <div class="clearout"></div>

<p>Sure you can do your own research, review reports, organise inspections and eagerly await the bank&#8217;s evaluation. 
You can even talk to the real estate agent at length about the location, re-sale potential and rental return of the property.</p>

<p>But with so much marketing hype, agents&#8217; loyalty to sellers and substantial selling-fees included in the for-sale-price,
 how do you know what information you can trust or if you really are getting a good deal?</p>

<p>The truth is you don&#8217;t. </p>

<p>You base your property purchase largely on biased information and your own emotions &ndash; a potentially ruinous combination
 when it comes to making large financial and investment decisions.</p>

<p>With Internet advancements changing service delivery and <b>lowering costs</b>, you have to wonder why there even needs to be 
substantial selling-fees included in the for-sale-price? With so much at stake, why can&#8217;t selling-fees be reduced or <b>removed completely?</b></p>


<p>Driven by a need for fairness <a href="CentralPropertyExchange.com.au" target="_blank" >CentralPropertyExchange.com.au </a>(CPx) created, <b>Australia&#8217;s first independent buyer focused real estate advertising website</b>,
 to help individuals successfully overcome the incentive &ndash; induced rhetoric of agents and the limitations of the financial services industry.</p>



<h2>A real estate advertising website with a win/win for buyers and sellers</h2>
	
	 <div class="clearout"></div>

<p>CPx offers: <b>Property through an independent lens</b> &ndash;so buyers now get the disclosure they want, 
and sellers access more financially savvy, cashed up property buyers. With CPx you can:</p>

<ul style="">
<li><p><b>Save thousands</b> on buying or selling a property</p></li>

<li><p><b>Forget the stress of negotiations</b> with an exclusive CPx price</p></li>

<li><p><b>Cut out the marketing hype, </b>get the facts and a free report, with all properties independently reviewed and graded by JLL</p></li>

<li><p><b>Minimise risk</b> with independent representation, CPx allows you to appoint a personal industry professional</p></li>

<li><p>Access<b> consistent property information you can trust</b>, CPx provides a best practice <b>national standard</b> for listing properties ready for point-of-sale</p></li>

<li><p><b>Search properties nationally based on your borrowing capacity, available cash-deposit or desired monthly repayments </b>&ndash;in any currency, to save time and streamline finance approval</p></li>

<li><p><b>Easily compare properties by price risk, grade, affordability, historical growth</b> and many other factors for accurate due diligence </p></li>

<li><p><b>Request a property you want </b>that isn&#8217;t displayed in current CPx listings to leverage your property searching</p></li>

</ul>
<div class="clearout"></div>



			


  <accordion class="static-accordian">
   
    <accordion-group is-open="toggleStatus.first">
        <accordion-heading >
  						<i class="pull-left glyphicon"  ng-class="{'glyphicon glyphicon-plus':  !toggleStatus.first, 'glyphicon glyphicon-minus': toggleStatus.first}"></i>
  						Core values & philosophy
					
        </accordion-heading>
         				<ul>
                        <li>Empowering industry professionals to serve property sellers and buyers, with a genuine respect for equal civil rights</li>
						
						<li>Fostering independent, full-disclosure; adhering to unwavering integrity through the independent process and adopting a fixed fee-for-service</li>
						
						<li>Supporting an &#145open-collaborative&#146 platform, innovative technological systems, leading edge tools and process advancements, in how properties are prepared for point-of-sale. This enabling industry professionals to guide their property clients towards a positive outcome</li>
      					</ul>
   </accordion-group> 
  </accordion>
  
  <div class="clearout"></div>
 <div class="clearout"></div>
  
  			<div class="row button-list" style="">
				<div class="col-sm-4 col-xs-12 btn_view_graded_properties">		
					<button type="button" class="btn"><a href="#!/view-graded-properties" ng-click="checkClickedview();" title="VIEW GRADED PROPERTIES">VIEW GRADED PROPERTIES</a></button>
				</div>
				<div class="col-sm-4 col-xs-12">
					<button type="button" class="btn"><a href="#!/submit_property_request" ng-click="checkClickedorder();"  title="SUBMIT PROPERTY REQUEST">SUBMIT PROPERTY REQUEST</a></button>
				</div>
				<div class="col-sm-4 col-xs-12">
					<button type="button" class="btn"><a href="#!/list_ur_property" ng-click="checkClickedlist();" title="LIST YOUR PROPERTY ON CPx">LIST YOUR PROPERTY ON CPx</a></button>
				</div>
			</div>
  
</div>

			



