<div class="static-content">
	<p>This page is for industry professionals wanting to know more about working with CPx</p> 
	<p>If your business philosophy shares our core values, we encourage you to take up free membership as one of our industry professionals. In doing so, you will receive free referrals.</p> 
Core values
<ul>
	<li>
		<p>Empowering industry professionals to serve property sellers and buyers, with a genuine respect for equal civil rights</p>
	</li>
	<li>
		<p>Fostering independent, full-disclosure; adhering to unwavering integrity through the independent process and adopting a fixed fee-for-service</p>
	</li>
	<li>
		<p>Supporting an 'open-collaborative' platform, innovative technological systems, leading edge tools and process advancements, in how properties are prepared for point-of-sale. This enabling industry professionals to guide their property clients towards a positive outcome</p>
	</li>
</ul>
<b>What's on offer</b>
<ul style="list-style-type: decimal;">
	<li>
		<b>Free membership:</b> No monthly fees. The following professions/services are welcome to take up free membership
		<ul style="list-style-type: circle;;">
			<li>
				Buyer's agents
			</li>
			<li>
				Real estate agents
			</li>
			<li>
				Financial planners
			</li>
			<li>
				Mortgage brokers
			</li>
			<li>
				Property investment coaches
			</li>
			<li>
				Legal representatives (solicitors)
			</li>
			<li>
				SMSF
			</li>
			<li>
				Accountants
			</li>
			<li>
				Immigration agents
			</li>
		</ul>
	</li>
	<li>
		<p><b>No referral fees:</b> verified industry professionals are selected by buyers and/or sellers. These professionals must achieve/maintain a high customer feedback score to stay on CPx. There is no referral fee payable to CPx for this service.</p>
		<p>Verified means, you will need to send us your qualifications. These qualifications and skills will be displayed against your profile.</p>
	</li>
	<li>
		<b>Directory:</b> Your profile will be listed within the <a href="#!/marketplace/find-industry-professionals" target="_blank" title="Find industry professionals">'Find industry professionals'</a> page, allowing property sellers and buyers to review your services, contact and appoint you.
	</li>
	<li>
		<b>Charges:</b> Currently there are no transactions fees, CPx reserves the right to introduce a fixed-price nominal fee per transaction.
	</li>
	<li>
		Free PropertyCompass<sup>&reg;</sup> login, giving access to investment reports and sales tracking
	</li>	
	
</ul>
<p>CPx is ultimately guided by the service experience the seller and buyer received from the industry professionals. Please note; your membership may be revoked by CPx if your business model or service delivery are inconsistent with our core values and/or CPx receives adverse feedback  on your services.</p>

</div>