<div
	class="navbar navbar-default navbar-static-top nomargin navbar-header">
	<div class="navbar-inner">
		<div class="hidden-xs">
			<ul class="nav nav-pills nav-stacked pull-left nopadding">
				<li class="disabled abouthead"><a>ABOUT</a></li>
				<li ng-class="{'active': aboutmenu[0].value}"><a
					href="#!/about/what-is-cpx">What is CPx?</a></li>
				<li ng-class="{'active': aboutmenu[1].value}"><a
					href="#!/about/independent-process">Independent process</a></li>
				<li ng-class="{'active': aboutmenu[2].value}"><a
					href="#!/about/independent-property-review">Independent property
						review(ipr)</a></li>
				<li ng-class="{'active': aboutmenu[3].value}"><a
					href="#!/about/what-is-graded">What is graded?</a></li>
				<li ng-class="{'active': aboutmenu[4].value}"><a
					href="#!/list-your-property-on-cpx/list-property">Why list your property on CPx?</a></li>	
				<li ng-class="{'active': aboutmenu[13].value}"><a
					href="#!/contact">Contact us for more information</a></li>
				<li><a
					href="#!/blog/blogindex/subid">Blog</a></li>
			</ul>
		</div>
	</div>
</div>
