<div
	class="navbar navbar-default navbar-static-top nomargin navbar-header">
	<div class="navbar-inner">
		<div class="hidden-xs">
			<ul class="nav nav-pills nav-stacked pull-left nopadding">
				<li class="disabled abouthead"><a>BLOG</a></li>
				<li ng-class="{'active': aboutmenu[14].value}"><a
					href="#!/blog/press-releases/subid">Press releases</a></li>
				<li ng-class="{'active': aboutmenu[15].value}"><a
					href="#!/blog/Publications/subid">Publications</a></li>
				<li ng-class="{'active': aboutmenu[16].value}"><a
					href="#!/blog/cpx-announcements/subid">CPx announcements</a></li>
				<li ng-class="{'active': aboutmenu[5].value}"><a
					href="#!/blog/FAQs/subid">FAQs</a></li>
				<li ng-class="{'active': aboutmenu[13].value}"><a
					href="#!/contact">Contact us for more information</a></li>
			</ul>
		</div>
	</div>
</div>
