<div class="row header">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#!/view-graded-properties/graded" title="VIEW GRADED PROPERTIES" class="ripplelink">VIEW<br /><span>Graded properties</span></a></li>
                        <li><a href="#!/view-graded-properties/affordable" title="FIND AFFORDABLE PROPERTIES" class="ripplelink">FIND<br /><span>Affordable properties</span></a></li>
                        <li><a  ng-click="clearPropertyID();goToServiceRequest();" href="javascript:void(0);" title="SUBMIT SERVICE REQUEST" class="ripplelink">SUBMIT<br /><span>Service request</span></a></li>
                        <li><a href="#!/list_ur_property" title="LIST YOUR PROPERTY ON CPx" class="ripplelink">LIST<br /><span>Your property</span></a></li>
                        <li><a href="#!/about/what-is-cpx" title="ABOUT" class="ripplelink">ABOUT</a></li>
                        <li><a href="#!/blog/blogindex/subid" title="BLOG" class="ripplelink">BLOG</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->

            </div><!-- /.container -->
        </nav>
        <div class="logofrase">
            <div class="logo">
                <img src="images/new_template/logocpx.png" />
            </div>
            <div class="frase">
                A real estate advertising platform with a win/win for<br />
                Buyers, Sellers <span style="color:#9ecc6a;">& </span>Advisor's<br />
                <span class="frase2">Get free, instant access to independently reviewed and graded properties</span>

            </div>

            <div class="arrowsfrase">
                <img src="images/new_template/arrows.png" />
            </div>
        </div><!--logofrase-->
    </div><!--container-->
</div>