<div
	class="navbar navbar-default navbar-static-top nomargin navbar-header ">
	<div class="navbar-inner">
		<div class="hidden-xs">
			<ul class="nav nav-pills nav-stacked pull-left nopadding">
				<li class="disabled abouthead"><a>PROPERTIES</a></li>
				
				<li ng-class="{'active': aboutmenu[9].value}"><a
					ng-click="selectMenuItem({mnu:'list-property-form'}); isCollapsed = !isCollapsed ; checkClickedlist()"
					href="#!/list_ur_property">List your property on CPx</a></li>				
				
				<li ng-class="{'active': aboutmenu[6].value}"><a
					ng-click="selectMenuItem({mnu:'list-property'}); isCollapsed = !isCollapsed"
					href="#!/list-your-property-on-cpx/list-property">Why list your property on CPx?</a></li>	
				
				<!-- <li ng-class="{'active': aboutmenu[7].value}"><a
					ng-click="selectMenuItem({mnu:'advertise-property'}); isCollapsed = !isCollapsed"
					href="#!/list-your-property-on-cpx/advertise-property">Advertise your property now</a></li> -->
					
				<li ng-class="{'active': aboutmenu[8].value}"><a
					ng-click="selectMenuItem({mnu:'list-property'}); isCollapsed = !isCollapsed"
					href="docs/List your property on CPx Brochure_V3.pdf" target="_blank">Download PDF</a></li>	
								
				<li><a
					ng-click="selectMenuItem({mnu:'mnucontactus'}); isCollapsed = !isCollapsed"
					href="#!/contact">Contact us for more information</a></li>
				<li><a
					href="#!/blog/blogindex/subid">Blog</a></li>
			</ul>
		</div>
	</div>
</div>
