<div
	class="navbar navbar-default navbar-static-top nomargin navbar-header">
	<div class="navbar-inner">
		<div class="hidden-xs">
			<ul class="nav nav-pills nav-stacked pull-left nopadding">
				<li class="disabled abouthead"><a>CPx MARKETPLACE</a></li>
				<li ng-class="{'active': aboutmenu[4].value}"><a
					href="#!/marketplace/find-industry-professionals">Find industry professionals</a></li>
				<li ng-class="{'active': aboutmenu[10].value}"><a
					href="#!/marketplace/view-directory">View directory</a></li>
				<li ng-class="{'active': aboutmenu[18].value}"><a
					ng-click="clearPropertyID();goToServiceRequest();" href="javascript:void(0);">Submit service request</a></li>
				<li ng-class="{'active': aboutmenu[13].value}"><a
					href="#!/contact">Contact us for more information</a></li>
				<li><a
					href="#!/blog/blogindex/subid">Blog</a></li>
			</ul>
		</div>
	</div>
</div>
