<div
	class="navbar navbar-default navbar-static-top nomargin navbar-header">
	<div class="navbar-inner">
		<div class="hidden-xs">
			<ul class="nav nav-pills nav-stacked pull-left nopadding">
				<li class="disabled abouthead"><a>INDUSTRY PROFESSIONALS</a></li>
				<li ng-class="{'active': aboutmenu[9].value}"><a
					href="#!/industry/working-with-cpx">Working with CPx</a></li>
				 <!--  <li ng-class="{'active': aboutmenu[10].value}"><a
					href="#!/industry/view-directory">View directory</a></li>  -->
					
				<li ng-class="{'active': aboutmenu[20].value}"><a 
					href="#!/industry/free-publish-your-listings">FREE - publish your listings</a></li>
				<li ng-class="{'active': aboutmenu[21].value}"><a
					href="#!/industry/listing-affiliate">Listing affiliate</a></li>
							
				<li ng-class="{'active': aboutmenu[11].value}"><a 
					href="#!/submit-free-membership-form">Submit free membership request</a></li>
				<li ng-class="{'active': aboutmenu[12].value}"><a
					ng-click="isCollapsed = !isCollapsed" target="_blank"
					href="http://graded.centralpropertyexchange.com.au/login?ReturnUrl=/">Business
						login</a></li>
				<li ng-class="{'active': aboutmenu[19].value}"><a
					href="#!/public-speaking-profiles/profileindex">Public speaking profiles</a></li>
							
				<li ng-class="{'active': aboutmenu[13].value}"><a
					ng-click="isCollapsed = !isCollapsed" href="#!/contact">Contact
						us for more information</a></li>
				<li ng-class="{'active': aboutmenu[17].value}"><a
					ng-click="isCollapsed = !isCollapsed" href="#!/blog/blogindex/subid">Blog</a></li>
						
			</ul>
		</div>


	</div>
</div>
